[2015-05-10 08:49] gornostal opened #1 "Fix warnings that occur when running Ulauncher on Gtk 3.14"
_From @gornostal on May 9, 2015 17:34_

Occurs on openSuse 13.2
[code]

_Copied from original issue: gornostal/ulauncher#47_

[2015-05-10 08:49] gornostal opened #2 "Bugs appear when external display is disconnected and then reconnected another one"
_From @gornostal on May 7, 2015 11:8_

[code]

_Copied from original issue: gornostal/ulauncher#45_

[2015-05-10 08:49] gornostal opened #3 "Upon apps installation, Ulauncher sometimes don't add them to the DB"
_From @gornostal on May 2, 2015 18:0_

Steps to reproduce (100% repro):
* Launch Ulauncher
* Download deb package of atom.io https://atom.io/ (uninstall first if it is installed)
* Install atom.io
* Open Ulauncher main window and type in "atom"

After debugging I found out that `Gio.DesktopAppInfo.new_from_filename()` raises exception `constructor returned NULL` at the moment when Atom.io is insta

[2015-05-10 08:49] gornostal commented on #3
stashed some changes to `issue-44` branch

[2015-05-10 08:49] gornostal opened #4 "Redesign preferences"
_From @gornostal on May 2, 2015 13:57_

_Copied from original issue: gornostal/ulauncher#43_

[2015-05-10 08:50] gornostal opened #5 "Implement "Run at startup" switch in preferences"
_From @gornostal on April 5, 2015 18:8_

Take this task when app can be launched from console via `ulauncher` command.

http://askubuntu.com/questions/63407/where-are-startup-commands-stored

_Copied from original issue: gornostal/ulauncher#36_

[2015-05-10 08:50] gornostal opened #6 "Refactor `ulauncher` package"
_From @gornostal on March 8, 2015 19:54_

TODO:
* get rid of `backend`
* everything that has to do with user applications and search for them has to be in one namespace

_Copied from original issue: gornostal/ulauncher#33_

[2015-05-10 08:50] gornostal commented on #6
_From @yatsenko on March 9, 2015 19:58_

first suggestion: it's better to store py files with all windows classes in one package

[2015-05-10 08:50] gornostal commented on #6
_From @yatsenko on March 9, 2015 20:6_

why do we have some py files for rendering windows in ulauncher dir and another in ulauncher_lib ))

[2015-05-10 08:50] gornostal commented on #6
_From @yatsenko on March 9, 2015 20:10_

can we move PreferencesDialog.py, AboutDialog.py, Window.py from ulauncher_lib into ulauncher ? then we can put all these classes into some package "ui", "views", "windows" etc

[2015-05-10 08:50] gornostal commented on #6
Good ideas. I hope I'll have time tomorrow to think about this.

[2015-05-10 08:50] gornostal commented on #6
That's how `quickly` created application structure. AboutDialog.py is a base class for AboutUlauncherDialog.py, so I see why it's in ulauncher_lib.

[2015-05-10 08:50] gornostal opened #7 "Show a list of most used applications by default"
_From @gornostal on March 5, 2015 10:25_

Allow to disable this feature from Preferences.

_Copied from original issue: gornostal/ulauncher#31_

[2015-05-10 08:50] gornostal opened #8 "Figure out how to package app for launchpad"
_From @gornostal on December 14, 2014 19:11_

_Copied from original issue: gornostal/ulauncher#10_

[2015-05-10 08:50] gornostal opened #9 "Test app against various distros and versions"
_From @gornostal on December 14, 2014 19:9_

_Copied from original issue: gornostal/ulauncher#6_

[2015-05-10 08:50] gornostal opened #10 "Implement files/directories browser"
_From @gornostal on December 14, 2014 19:7_

_Copied from original issue: gornostal/ulauncher#4_

[2015-05-10 08:52] gornostal opened #11 "Offer to search on the web if no apps were found"
# Scenario 1
If user types in a query that returns no results, he should be offered to search Google for that query.
That means, result list should have one item with Google icon and title: `Search Google for '<user_query>'`.
User clicks enter and gets redirected to Google search with that query in a user's default browser.

# Scenario 2
User should be able to explicitly run Google search from Ula

[2015-05-10 09:48] #3 closed

[2015-05-10 09:51] gornostal commented on #3
Issue turned out to be more complicated that it seemed.
We need to re-try adding application to the DB several times (maybe 5) with increasing interval (2, 4, 6, 15, 30).

[2015-05-10 19:36] #8 closed

[2015-05-10 19:45] gornostal commented on #11
stashed to `issue_2` branch

[2015-05-10 20:51] #2 closed

[2015-05-11 05:29] #1 closed

[2015-05-13 18:49] #5 closed

[2015-05-13 19:13] gornostal commented on #6
https://www.mindmup.com/#m:a1e2a833b0dbd10132960d6601633080bc
https://www.dropbox.com/s/l5c2sdvg69ic8dc/ulauncher.tree?dl=0

[2015-05-16 16:14] gornostal opened #14 "Use dark indicator icon with a light theme"

[2015-05-17 05:30] #6 closed

[2015-05-18 08:05] gornostal opened #16 "Ulauncher hotkey binding doesn't work when app starts automatically upon user's log in"

[2015-05-27 06:06] gornostal opened #17 "Convert app to Python 3 as per Debian Python Policy"

[2015-05-27 06:07] gornostal opened #18 "Improve search by searching in app descriptions"

[2015-06-20 10:02] #11 closed

[2015-06-21 09:36] gornostal commented on #4
Done with the main window.
TODO: Preferences dialog

[2015-06-21 12:35] gornostal opened #19 "Make web search items configurable from the preferences dialog"

[2015-06-28 16:29] #10 closed

[2015-06-28 16:51] gornostal opened #22 "Implement alternative Enter for file browser"

[2015-06-29 08:27] #22 closed

[2015-09-27 13:40] gornostal opened #23 "If mouse cursor happens to be over a result item, it gets selected"
This shouldn't happen.
Mouse selection should work only when user starts moving a mouse.

[2015-10-14 14:12] #23 closed

[2015-10-14 15:00] #16 closed

[2015-10-15 08:32] gornostal opened #24 ""Open Containing Folder" doesn't work"

[2015-10-15 08:32] gornostal opened #25 "Change default log level to DEBUG."
Also, make sure logs are saved correctly to `~/.cache/ulauncher`

[2015-10-23 19:09] #24 closed

[2015-10-24 19:10] #14 closed

[2015-10-24 19:11] #25 closed

[2015-10-25 09:17] #9 closed

[2015-10-25 10:26] #17 closed

[2015-10-25 18:21] gornostal opened #26 "Create a script that automates releases"
Here is what I need to do in order to make a new release:
1. Change version in `setup.py`
2. Run `debchange` and create a new entry
3. Specify `trusty` as a target distibution
4. Run `./create_deb`
5. Go to `/tmp/ulauncher_deb`
6. Do `dput ppa:agornostal/ulauncher ulauncher_x.y.z_source.changes`
7. Open Launchpad website and copy compiled binaries to other distributions like `vivid` or `wily`
8. M

[2015-10-25 18:30] gornostal opened #27 "Create script to make .rpm builds"
Does rpm-based systems have something like Launchpad for Debian-based ones?
Would be great to use something like that.

[2015-11-16 09:41] gornostal opened #28 "Malformed ulauncher.desktop file when running using ./run and ulauncher path contains folders with spaces"

[2015-11-25 07:24] gornostal opened #30 "[Prefs UI] About button is not highlighted when it's opened from tray icon"
Altough About page is loaded, About button is not highlighted.

[2015-11-25 07:26] gornostal opened #31 "[Prefs UI] Not the entire area around tab name is clickable"
If you want to switch tabs in preferences, currently you need to click on the text.
Area around text should be clickable as well.

[2015-11-25 07:27] gornostal opened #32 "[Prefs UI] White space around input"
There is a 1px white space around hotkey input.

[2015-11-25 07:28] gornostal opened #33 "[Prefs UI] Icon and text is not highlighted when mouse is over the tabs"
It should be highlighted in blue. Please check the design.

[2015-11-25 07:33] gornostal opened #34 "[Prefs UI] In Help tab, cursor should become a pointer when hovering over the items"
Also, the entire block that includes an icon and a link name should be a one block and take user to the URL by click.

[2015-11-25 10:15] gornostal opened #35 "Improve build tasks for preferences"
* `gulp build` should create a build dirrectory with all necessary files
* `gulp build` should concatenate all css and js files into one
* `gulp` should create `index.html` file in `.tmp`. It will be used by Ulauncher

[2015-11-26 07:20] #4 closed

[2015-11-26 07:55] gornostal opened #36 "[Prefs UI] Disable text selection"

[2015-11-26 11:11] gornostal opened #37 "[Pref UI] Create gulp task that creates a dev build and exits"
... without opening a URL in a browser

[2015-11-27 08:58] gornostal opened #38 "Log the tracebacks to the log file"

[2015-11-29 06:48] #31 closed

[2015-11-29 06:50] #32 closed

[2015-11-29 06:50] gornostal commented on #32
Thanks!

[2015-11-29 06:50] #34 closed

[2015-11-29 06:50] #36 closed

[2015-11-29 11:50] gornostal commented on #35
Priority 1

[2015-11-29 11:50] gornostal commented on #37
Priority 1

[2015-11-29 14:15] gornostal opened #40 "Files from ~/.cache/ulauncher are removed if I open preferences"
Found a bug in WebKit2 API

https://bugs.webkit.org/show_bug.cgi?id=151646

Waiting for reply.

[2015-11-29 17:50] gornostal commented on #35
working on this

[2015-11-30 15:12] gornostal opened #41 "[FileDb] ProgrammingError: You must not use 8-bit bytestrings"
[code]

[2015-12-01 08:25] EugeneChu opened #42 "[Prefs UI] Implement '/close' and '/open/web-url' API"

[2015-12-07 20:12] #33 closed

[2015-12-11 16:10] #35 closed

[2015-12-11 16:11] gornostal commented on #40
Implemented a workaround

[2015-12-11 16:11] #40 closed

[2015-12-13 08:16] #37 closed

[2015-12-13 08:18] gornostal commented on #28
cannot reproduce.

[2015-12-13 08:18] #28 closed

[2015-12-13 08:26] gornostal commented on #30
fixed

[2015-12-13 08:26] #30 closed

[2015-12-13 08:26] #41 closed

[2015-12-13 20:39] gornostal opened #45 "[Prefs UI] Incorrect version is shown on About page"
(remember about one /get/all request)

[2015-12-13 20:40] gornostal opened #46 "[Prefs UI] Credits button should switch between licence and credits texts"
Lorem ispum as a credits text will work for now.

[2016-01-17 16:47] kevinkhill opened #47 "Removing / hiding apps from list"
Is it possible to hide apps from the list? I would like to be able to type ```chr, enter``` to launch chrome, but ```Chrome App Launcher``` is always first, above Chrome.

[2016-01-17 16:57] kevinkhill commented on #47
I made an issue too soon! Removing ```/home/kevin/.local/share/applications/chrome-app-list.desktop``` did the trick.

Thanks for the hard you have done so far :+1: , looking forward to new releases

[2016-01-17 16:57] #47 closed

[2016-03-01 16:00] lucasnota opened #48 "Arch Support"
I would like use it in Arch,

[2016-03-01 18:45] djendreizak commented on #48
As far as I know it's planned for 2.0. You can try to build it manually via install_deps

Take a look:
https://github.com/Ulauncher/Ulauncher/blob/dev/install_deps

[2016-03-25 07:38] #38 closed

[2016-03-25 10:06] #45 closed

[2016-03-29 07:10] #42 closed

[2016-03-29 07:10] gornostal commented on #42
done

[2016-03-29 07:10] gornostal commented on #45
fixed

[2016-03-29 07:10] gornostal commented on #46
Fixed

[2016-03-29 07:10] #46 closed

[2016-04-01 05:29] gornostal commented on #7
done

[2016-04-01 05:29] #7 closed

[2016-04-01 05:30] gornostal opened #49 "Add theme option to preferences"

[2016-04-05 06:56] gornostal commented on #49
done

[2016-04-05 06:56] #49 closed

[2016-06-28 15:10] #19 closed

[2016-06-28 17:38] gornostal opened #50 "Create a wiki section with common issues"
* pyinotify

[2016-06-29 05:44] gornostal opened #51 "inotify watch limit reached"
Ulauncher watches Documents folder, so you can quickly find a file using `find` keyword.
Sometimes underlying library `inotify` requires more watchers than OS provides by default.
By following this procedure you can increase a number of watches http://askubuntu.com/a/148177
Don't forget to restart Ulauncher after that.

[2016-06-29 05:44] #51 closed

[2016-06-29 05:48] #50 closed

[2016-06-29 05:49] gornostal opened #52 "Prepare development plan for v3.0"
- as a user, I want to be able to create workflows with GUI
- as a developer, I want to be able to build workflow features in Python

Workflow is a set of features and connections between them that allow users to create custom use cases for Ulauncher.
Feature is a building block for workflows. There are several types of them:
- Triggers (keyword, hotkey, shell command)
- Actions (render Ulauncher

[2017-02-19 02:54] fabubaker opened #53 "Using 3 keys for Ulauncher hotkey"
Is there someway to use 3 keys (eg: CTRL + ALT + F) as the Ulauncher hotkey?
Currently the interface only lets you input 2 keys at most for the shortcut.

[2017-02-19 03:39] Zenohm opened #54 "Retrieving Additional Information Automatically"
**This isn't an issue, this is a feature request/inquiry.**

One of the features that I find to be useful in Mac's Spotlight is the program's ability to display information from external sources (Such as wikipedia, or a dictionary) directly in the search window.

Relevant image here:
![Examples of Macs Spotlight](https://www.howtogeek.com/wp-content/uploads/2014/11/img_5457b2175773e.jpg)

I was wo

[2017-02-19 04:08] Cross03 commented on #48
Some dependecies are not even listed in Arch linux , can any one figure out what is those packages name in arch linux :
error: target not found: python-pysqlite2
error: target not found: gir1.2-gtk-3.0
error: target not found: libgtk-3-0
error: target not found: gir1.2-keybinder-3.0
error: target not found: gir1.2-webkit2-3.0
error: target not found: libkeybinder-3.0-0
error: target not found: gir

[2017-02-19 04:17] geckolinux commented on #27
Hi, have you considered the [openSUSE Build Service](http://build.opensuse.org/) for this?

[2017-02-19 04:58] aaronfranco opened #55 "No Xenial Release: Ubuntu 16.04LTS install error"
Following Error:

[code]

[2017-02-19 07:43] orschiro opened #56 "How to search for files?"
Dear all,

This is fantastic. Thank you! :-)

Question:

How can I search for files and folders?

[2017-02-19 08:03] gornostal opened #57 "[!] Heads up on Ulauncher development"

[2017-02-19 08:38] gornostal commented on #57
@fabubaker, @Zenohm, @Cross03, @geckolinux, @aaronfranco, @orschiro
Thanks for coming here guys. Your interest in this app is very motivating for me.

A little heads up about Ulauncher... There hasn't been any updates or releases for more than a year for several reasons. Mainly because I was disappointed in how complicated packaging for Linux is.

Now I'm trying to wrap Ulauncher into a [Snap](htt

[2017-02-19 08:42] gornostal commented on #56
Hi @orschiro,

I recently removed search for files from the `dev` branch because it would cause performance issues.
That's definitely something that I'm going to integrate when I finish with packaging and plugin API.

You can still browse directories, though. Just type ~ or /

[2017-02-19 08:47] gornostal commented on #54
That's a great feature request. It's definitely possible to implement that, but after the plugin API.

[2017-02-19 08:55] gornostal commented on #53
I was able to assign `Ctrl + Alt + F` as the hotkey.
I'm running the app from `dev` branch. If you installed using the deb package from ulauncher.io, that's the old version and it may not support 3 keys.

I'll update this ticket once the new version is released.

What OS are you running BTW?

[2017-02-19 09:12] hughwilliams94 commented on #48
- python-pysqlite2 = `python-pysqlite`
- all gir... packages are in `gobject-introspection`
- libkeybinder-3.0-0 = `libkeybinder3`

Having said this I have installed all dependencies and still can't get it to run. Encountering  lot of python errors!

[2017-02-19 11:45] Abhinav1217 commented on #27
Just came here via a blog article. Would love to get this on Fedora. I am looking for a replacement for Synapse since it is not working properly on wayland.

I would recommend https://copr.fedorainfracloud.org is very similar to launchpad for RPM distros. It can take source code and make file to create rpm repo which can be used by `dnf`, `yum` to install and update. Just like ubuntu ppa.

In past

[2017-02-19 11:53] gornostal commented on #27
Wow, thanks for the recommendations @Abhinav1217.
I'm trying Snap, but it has some bugs. I'll take a look at Appimage, Flatpack.

It has calculator. It works just as you've described.
It doesn't have unit converter.

[2017-02-19 16:03] orschiro commented on #56
Cool, I like the way you can browse directories! :-)

And great to hear you will bring back the search for files feature!

Thanks!

On Sun, Feb 19, 2017 at 9:42 AM Aleksandr Gornostal <
notifications@github.com> wrote:

[2017-02-19 19:46] fabubaker commented on #53
Ah, thanks! I'll install the `dev` branch right away.
Also, I'm running Ubuntu 16.10.

[2017-02-19 19:48] gornostal commented on #53
I'm running Ubuntu 16.10 too. So it should work fine.
I forgot to mention that building from dev requires nodejs.
Let me know if you run into any issues.

[2017-02-19 20:20] fabubaker commented on #53
Something came up when i ran `./install_deps`.

[code]

I installed 'gir1.2-webkit2-4.0' instead, and it seems to be working fine. I think the latter version might have been removed from the repos, I couldn't really find them.

[2017-02-19 20:28] gornostal commented on #53
That's right.

[2017-02-19 20:36] fabubaker opened #58 "Ulauncher minimizes on losing focus"
I've set my mouse focus mode to be`sloppy`, a.k.a when the cursor is moved out of the application's window, that app loses focus (the default would be clicking on another app's window to lose focus).

This setting drives Ulauncher crazy, often minimizing itself before I can select what I want.
Is this a GTK issue or is there a setting that disables the minimizing?

[2017-02-19 20:43] gornostal commented on #58
I'm not sure about that.
How do you change mouse mode to `sloppy`?

[2017-02-19 20:59] fabubaker commented on #58
Here's a gif of what happens when I move the cursor outside of the Ulauncher UI.

![output](https://cloud.githubusercontent.com/assets/9405286/23106450/b6bb6b00-f6bb-11e6-964d-de2a529ced87.gif)

The issue is that when I open Ulauncher and my mouse isn't inside the launcher's window, it just closes after 2 or 3 keystrokes.

My bad about not being clear what `sloppy` is, it's a setting in Unity that

[2017-02-20 04:31] Cross03 commented on #48
After encounter a lot of python errors, i realize that the problem is this software written mainly in python2 where in arch linux the default python version is python3. So to run the "run" file i must change the  line 1 and 20

**line 1 : **
change python to python2
**line 20: **
add python2 in the beginning of the line

**the launcher runs, but no matter what i type-in there would be no changes.

[2017-02-20 05:06] gornostal commented on #48
I'll take a look at the pickle error.
Thanks for reporting.

On Mon, Feb 20, 2017, 06:31 Cross03 <notifications@github.com> wrote:

[2017-02-20 05:21] Abhinav1217 commented on #27
I installed it from source, last night and spent few hours with it. Only issue so far is that it doesn't stay running in the background. Maybe because of wayland, or I didn't properly build it, I don't know. A better configuration option would be great. I must say its speed is good.

I didn't get predictive selection in it,  Did i build it wrong or is it still on roadmap.

Try Appimage, It is olde

[2017-02-20 05:33] Abhinav1217 commented on #26
You can simply create a shell script to do all that. Have a version info on a separate file so tfhat you can automate process like `./setup.py --new-release` which will tell setup.py to get version number from that file.

Best option is to use github's tag feature. or git head hash. I am one of the maintainer of fedy, I once had a personal script for building and updating it. What I did is I pushe

[2017-02-20 08:10] Zenohm commented on #54
Alright, that's great! I've been searching for a usable launcher that has this functionality for a while. I haven't really found any that had everything I wanted, but if this were implemented I'd definitely switch to this as my primary launcher.

[2017-02-20 08:11] hughwilliams94 commented on #48
The pickle error is related to python2/3 issues as the highest available protocol in python2.7 is 2.

[2017-02-20 08:22] gornostal commented on #48
@Cross03 try deleting files from `~/.config/ulauncher` and `~/.cache/ulauncher-cache`.
Then once you restart the app it sold create pickle files with the correct protocol.

[2017-02-20 08:37] Cross03 commented on #48
@gornostal  Dude, that solve the problem. This software is awesome.

[2017-02-20 08:41] egorzot opened #59 "Can't setup Super L+Spacebar hotkey"
Thanks for this app! It's awesome!
But when I try to setup the Ulauncher hotkey to "Super L + Spacebar" (Win+Spacebar) I get "Mod4+Super+Space" and hotkey not works.

Some in Russian: Александр, спасибо за прекрасное решение! к сожалению с питоном не сталкивался, поэтому поучаствовать не могу. Желаю развития проекта в будущем! :)

[2017-02-20 10:36] hughwilliams94 opened #60 "Strange artefact around the window"
I am getting a a strange outline around the window when it appears.

![screenshot_2017-02-20_10-34-43](https://cloud.githubusercontent.com/assets/15379654/23121463/69b3f456-f758-11e6-8ca5-e4cb98905b9b.png)

Running on GalliumOS, an Ubuntu derivative for Chromebooks, the desktop is XFCE. Any suggestions for a fix?

[2017-02-20 10:49] hughwilliams94 commented on #60
Just figured it out, just an issue with my compositor which doesn't like small windows!

[2017-02-20 11:13] TheBlackguarde opened #61 "Can't launch"
I can't launch Ulauncher, the icon just flickers and nothing happen. I can launch it with
sudo ./bin/ulauncher -v --dev $@

I'm on Ubuntu 16.04.

[2017-02-20 15:08] Emrih commented on #55
ok

[2017-02-20 18:38] gornostal commented on #26
Thanks for the great suggestions @Abhinav1217.
I'm going to implement something like that, but I'm not planning to use deb packaging anymore, so this ticket is no issue relevant.

[2017-02-20 18:38] #26 closed

[2017-02-20 18:58] gornostal commented on #27
AppImage is great, but it's far from a straightforward solution that I am looking for.
I've tried to wrap my head around it yesterday and came to a conclusion that in order to build a simple GTK app in Python it takes a lot of time and obscure workarounds. Don't like that.

I'm not sure what it will be in the end, but in the short run I'm planning to create a tar.gz with all the python files + a s

[2017-02-20 19:00] fabubaker commented on #57
@gornostal I'm interested in the plugin system, but how is the Snap stuff coming alone?

[2017-02-20 19:04] gornostal opened #62 "App doesn't stay running in the background"
@Abhinav1217 could you post steps to repro please?

[2017-02-20 19:05] gornostal opened #63 "Predictive selection doesn't work as expected"
@Abhinav1217 please tell what you type in, what you expect to see, and what you actually see.

[2017-02-20 19:12] gornostal commented on #57
Snap is on hold while I'm trying other alternatives like AppImage. The issue with Snap is not resolved yet.

[2017-02-20 19:16] gornostal commented on #61
@TheBlackguarde try without sudo.
If I wrote you should run it with sudo, please let me know where.
Also, please post output or/and `~/.cache/ulauncher/last.log`

[2017-02-20 19:18] gornostal commented on #59
That's a valid bug. I'll look into it.

P.S. Спасибо ;)

[2017-02-20 19:19] gornostal commented on #48
@Cross03 no problem)
Thanks @hughwilliams94 for the hint.

[2017-02-20 19:21] fabubaker commented on #57
Anything I can help with? I'm busy during weekdays but I can pitch in stuff regularly on weekends.

[2017-02-20 19:24] gornostal commented on #58
This seems like a valid bug then.
I need to know exactly how to reproduce this behavior.
Is [this](http://askubuntu.com/questions/64605/how-do-i-set-focus-follows-mouse) the accurate instruction on how to get a sloppy cursor?

[2017-02-20 19:25] gornostal commented on #57
That would be great. Let's discuss that in gitter https://gitter.im/Ulauncher

[2017-02-20 20:36] Alexandero89 commented on #55
Have the same Problem.
Deleted the PPA and installed it via DEB.
You can download it here for the moment:

[2017-02-20 20:47] fabubaker commented on #57
Awesome!
Although I can't find a room in the Ulauncher gitter chat...

[2017-02-20 20:48] fabubaker commented on #58
Yep it is!

[2017-02-20 20:56] gornostal commented on #57
Sorry, I didn't notice it was a private room.
Here you go https://gitter.im/Ulauncher/General

[2017-02-21 14:48] brunolellis opened #64 "Steps to uninstall Ulauncher and npm dependencies"
Hi,
Just wondering... what are the steps to uninstall Ulauncher and npm dependencies?

Thanks!

[2017-02-22 11:33] TheBlackguarde commented on #61
When i run it without sudo it gives me this:

[code]

I assume you meant  ~/.cache/ulauncher_cache/last.log
This is the content of last.log

[code]

I actually figured it out myself after looking at the logs. apparently the owner of the log file was root, probably because I ran a command during install with sudo. I made me the owner and now it works.

Thanks for the help anyways

[2017-02-22 16:30] Wiwi-31 opened #65 "Change default search engine and default file manager"
Hi,
Is it possible to change the default search engine? Or at least, implementing the Bangs?

Like the one available in DuckDuckGo search engine:
- !yt for searching a video
- !maps for google maps
- !a for amazaon
- !w for wikipedia
- etc.

And I also would like to know if is it possible to change the default file manager. For example, I have nautilus and nemo install on my computer, but when I w

[2017-02-22 17:26] gornostal commented on #65
Hi @Wiwi-31,
The first feature is implemented in the dev branch, where you can add shortcuts from preferences.
The second one is not implemented.

I'm working on an update that will enable users to install dev version of Ulauncher in a more straightforward way. You can follow the updates here https://twitter.com/ulauncherapp

[2017-02-22 17:30] gornostal commented on #61
I'm glad the issue is resolved.

[2017-02-22 17:30] #61 closed

[2017-02-22 17:34] gornostal commented on #64
It depends on how you installed it.
If you installed it from .deb or via apt-get, you can use `sudo dpkg -r ulauncher` or `apt-get remove ulauncher`.
If you installed it from git, simply remove the folder and `~/.local/share/applications/ulauncher.desktop`

[2017-02-22 17:34] gornostal commented on #64
Please reopen if that doesn't work.

[2017-02-22 17:34] #64 closed

[2017-02-22 17:44] gornostal commented on #55
Thanks @Alexandero89.
This issue will be addressed soon.

[2017-02-23 06:03] viggy96 opened #66 "Being able to change the selection highlight colour"
Basically title. This would be a nice feature, as the rest of the look fits in with pretty much every desktop environment and theme already.

[2017-02-23 07:02] #52 closed

[2017-02-24 13:50] gornostal commented on #48
Guys,
I would greatly appreciate if someone could provide a Virtualbox image of Arch + Gnome.
I want like to test Ulauncher on it.

[2017-02-25 14:08] aniirban101 opened #71 "Add info about hotkey"
There is no info about the keyboard shortcut to launch the app in readme

[2017-02-25 16:35] gornostal opened #73 "Test RAM consumption on heavy use"

[2017-02-25 17:01] gornostal opened #74 "Set up AppImage builds"
Having looked at AppImage I think it can be the ultimate solution to the problem of packaging.
However it's not that trivial to package Ulauncher with all its GTK and Python deps.
It just takes time to fix all the issues along the way.

Any help is greatly appreciated.

[2017-02-26 02:44] patrickbolle commented on #60
I'm getting the same thing, but it's just a black box instead - I don't use a compositor though.

[2017-02-26 06:41] gornostal opened #75 "Make file browser more intuitive"
It's not obvious that user has to:
* start query with `~` or `/` to see the file browser
* press `Alt+Enter` to open an alt menu of a file/folder

[2017-02-26 06:42] gornostal opened #76 "Make shortcuts more intuitive"
It's not obvious that a shortcut name should be followed by a query

[2017-02-26 08:13] gornostal opened #77 "Doesn't recognize installed Snaps"

[2017-02-26 13:59] gornostal opened #78 "Calculator shows Error! if result is 0"
1-1 => Error!

[2017-02-26 14:02] gornostal opened #79 "Calculator should return an integer number if fractional part is 0"
33/3 => 11.0

Should be 11

[2017-02-26 14:48] patrickbolle commented on #60
Hi!I'm not at my computer right now, but I'm using Debian Jessie (with i3wm).I'm using the newest version of uLauncher from the website.I installed Compton and it fixed the black box, but I'd rather not use a compositor if possible haha!

[2017-02-26 14:55] gornostal commented on #60
Hi Patric,
I understand. I'll look into this.

[2017-02-26 15:29] gornostal opened #80 "Include icon and screenshots in deb and rpm packages"

[2017-02-26 16:03] gornostal opened #81 "Search results are not correct if ulauncher MW is reopened with previously entered search query"
STR:

1. Type in `text`
1. Hit `Esc`
1. Open Ul. again

ER:
* Results for `text` are displayed

AR:
* Default results are displayed

[2017-02-26 16:28] gornostal opened #82 "Non-ASCII symbols in a shortcut name/descr. cause errors"
[code]

[2017-02-26 16:30] gornostal opened #83 "Add description for executable shortcuts"
Currently only URL shortcuts can have a description

[2017-02-26 16:33] gornostal opened #84 "[Regression] With two displays UL should be rendered on the one with the mouse pointer"
v2.0.13
Ubuntu 16.10

[2017-02-26 16:35] gornostal opened #85 "Prefs window is rendered with some glitch"
![selection_162](https://cloud.githubusercontent.com/assets/1202543/23341552/65c08e8c-fc52-11e6-94ae-604a09b20264.png)

[2017-02-26 16:50] gornostal opened #86 "[Fedora] Icon is absent if UL is searched using gnome app launcher"
v2.0.13
Fedora 24 with Gnome

[2017-02-26 17:01] gornostal opened #87 "[Fedora] Prefs icon is not displayed correctly in the MW"
v2.0.13
Fedora 24

![screenshot 2017-02-26 19 00 41](https://cloud.githubusercontent.com/assets/1202543/23341728/e952ab88-fc55-11e6-8bc1-5503093aa294.png)

[2017-02-26 17:04] gornostal opened #88 "[Fedora] App Indicator icon is missing"
v2.0.13
Fedora 24

![screenshot 2017-02-26 19 00 41](https://cloud.githubusercontent.com/assets/1202543/23341728/e952ab88-fc55-11e6-8bc1-5503093aa294.png)

[2017-02-26 17:13] gornostal opened #89 "~/.cache/ulauncher_cache/last.log is truncated if UL is run with --hide-window"
STR:

1. Run UL
1. Run UL with --hide-window

ER:
* Log of the main first run should be there

AR:
* Log file contains only 3 lines from the last run

[2017-02-26 17:27] gornostal commented on #59
@egorzot could you specify your OS and desktop environment (DE)?

You can also check out v2 Beta if you are using v1.
https://github.com/Ulauncher/Ulauncher/releases/tag/2.0.13

On Ubuntu I cannot setup Win+Spacebar either. I think that is a limitation of the DE, which is Unity on Ubuntu

[2017-02-26 18:22] gornostal commented on #58
Hi @fabubaker

I've taken another look at this issue.
I cannot exactly reproduce the behavior you described:

If I leave the cursor over the input of UL or completely outside its boundaries, everything works fine for me.
However, if cursor happens to be outside of the UL frame, then inside it, then again outside, focus will be lost by UL and the window gets hidden. That is by design.

I linked a r

[2017-02-26 18:28] gornostal commented on #63
Please reopen if needed

[2017-02-26 18:28] #63 closed

[2017-02-26 18:37] gornostal commented on #65
@Wiwi-31
You can download [v2 Beta](https://github.com/Ulauncher/Ulauncher/releases/tag/2.0.13) and try adding shortcuts.
As for the second request, UL uses `xdg-open` under the hood to open and run apps, so you can applications with xdg tool like this:

[code]
That will set Thunar file manager as the default one.
More info here http://unix.stackexchange.com/a/59088

[2017-02-26 18:37] #65 closed

[2017-02-26 18:39] #57 closed

[2017-02-26 18:40] gornostal commented on #73
It doesn't seem to consume too much

[2017-02-26 18:40] #73 closed

[2017-02-26 19:47] #78 closed

[2017-02-26 20:21] gornostal commented on #62
No feedback

[2017-02-26 20:21] #62 closed

[2017-02-26 20:23] #79 closed

[2017-02-26 20:23] #84 closed

[2017-02-26 20:42] gornostal commented on #81
Fixed

[2017-02-26 20:42] #81 closed

[2017-02-27 03:33] egorzot commented on #59
@gornostal
Ubuntu 16.04.2
Unity 7.4.0
There is no this problem in 2.0.13 version. Thanks :+1:

[2017-02-27 05:14] gornostal commented on #59
Cool. Closing this issue.

[2017-02-27 05:14] #59 closed

[2017-02-27 19:01] #88 closed

[2017-02-27 19:27] gornostal commented on #86
Fixed

[2017-02-27 19:27] #86 closed

[2017-02-27 19:56] #87 closed

[2017-02-27 20:13] #85 closed

[2017-02-28 07:05] gornostal commented on #60
I'm going to have to close this issue because current version uses some effects that require compositing. Sorry.

I'm planning to refresh the UI later and I'll take into account this issue.

[2017-02-28 07:05] #60 closed

[2017-02-28 18:39] mmetak commented on #48
I made a quick pkgbuild file for arch if anyone is interested?
https://aur.archlinux.org/packages/ulauncher-git/

[2017-02-28 19:36] gornostal commented on #48
That's super cool!
I just was going to try Arch Linux and see how to packaging can be done there.

I'm new to Arch so if you have some time to answer several questions about how you packaged UL that would be great.
I'm available here https://gitter.im/Ulauncher/General

[2017-03-01 16:19] arximughal opened #94 "Failed to fetch http://ppa.launchpad.net/agornostal/ulauncher"
I've been trying to install ulauncher for a couple of days now, but I am unable to install.

Installing via ppa don't work at all and gives
`Failed to fetch http://ppa.launchpad.net/agornostal/ulauncher/ubuntu/dists/yakkety/main/binary-amd64/Packages  404  Not Found`

When I try to install via .deb package available on the ulauncher homepage, it don't work either!

[2017-03-01 17:49] gornostal commented on #94
That repository is not supported. I've removed it from the site recently.

Did instructions from the site not work for you?
Could you give some more info please:
* OS you using
* Desktop environment
* Command you running to install the app
* Command output

We'll figure out how to fix the problem

[2017-03-03 12:32] Cediddi commented on #94
Will you open a new ppa? It'd be much more convenient to just apt-get install ulauncher, also would keep most users up to date.

[2017-03-03 12:34] gornostal commented on #94
I'm planning to update it next week.
I'll create a new ppa actually.
I'll post a link to this issue when it's done.

[2017-03-03 13:19] gornostal commented on #48
Arch Linux is officially supported https://aur.archlinux.org/packages/ulauncher/
`git clone https://aur.archlinux.org/ulauncher.git && cd ulauncher && makepkg -is`

[2017-03-03 13:19] #48 closed

[2017-03-03 14:58] gornostal commented on #27
RPM builds for Fedora and SUSE are ready. Download links here http://ulauncher.io/#Download

AppImage is still on my roadmap though.

[2017-03-03 14:58] #27 closed

[2017-03-03 15:21] geckolinux commented on #27
Very nice, testing the openSUSE RPM now. Thanks a lot!

[2017-03-03 15:34] geckolinux commented on #56
I'm really looking forward to file and folder search results too, especially if integrated as I suggest [here](https://github.com/Ulauncher/Ulauncher/issues/75#issuecomment-283984900).

[2017-03-03 16:02] gornostal commented on #75
That would be an ideal solution.
Not so easy to implement however.

I'll take this suggestion into account when will be creating plugin for searching files.
In this ticket I only wanted to make file browsing more intuitive.

[2017-03-03 16:23] geckolinux commented on #75
Maybe you could borrow some ideas from [Albert](https://github.com/albertlauncher/albert), which does this quite well in my opinion. (It's method of updating the index isn't ideal, however.)

[2017-03-03 17:12] #71 closed

[2017-03-03 17:12] gornostal commented on #71
Now it shows current hotkey on launch

[2017-03-03 18:02] #76 closed

[2017-03-03 18:03] gornostal commented on #58
Closing as there was no response

[2017-03-03 18:03] #58 closed

[2017-03-04 04:48] fabubaker commented on #58
Hey @gornostal. Apologies for the late response.
It pretty much behaves the same way as you showed, however, in my case, when I open Ulauncher, and the cursor is somewhat far away from the UI, it closes immediately after I type in a few words.

However, I am not too sure if it is your recent commits, but this issue seems to have been fixed. :smile:
This makes me Immediately switch from Synapse to

[2017-03-04 05:04] gornostal commented on #58
Happy to hear that :)

On Sat, Mar 4, 2017, 06:48 Fadhil Abubaker <notifications@github.com> wrote:

[2017-03-04 10:08] SevenWalnut opened #97 "can't install gir1.2-webkit2-3.0, only gir1.2-webkit2-4.0"
I try dpkg-deb to repackage the deb, changing  gir1.2-webkit2-3.0 to gir1.2-webkit2-4.0 in control file.
And it works! Everything is fun.
by the way, well done!

[2017-03-04 15:08] gornostal commented on #97
Thanks @SevenWalnut.

What OS are you using?

[2017-03-04 15:15] SevenWalnut commented on #97
Ubuntu 17.04 Daily Build on 2017-02-28.

[2017-03-04 15:22] gornostal commented on #97
Hm... I haven't tested on 17.04. I'll look into it

[2017-03-04 19:06] HealingTek commented on #97
I have the same issue on Debian Testing.

[2017-03-05 18:44] 0versun commented on #97
The same problem on Deepin 15.4 beta(based on debian )

[2017-03-05 19:47] gornostal commented on #97
This should be fixed soon.
Installing Deepin 15.4 to verify

[2017-03-05 21:13] gornostal commented on #97
Should be fixed now.
https://github.com/Ulauncher/Ulauncher/releases/download/2.0.30.r3/ulauncher_2.0.30.r3_all.deb

[2017-03-05 21:13] #97 closed

[2017-03-06 08:57] 0versun commented on #97
Hi, I do confirm, its fix now. Thanks a lot!

[2017-03-07 01:29] ACinnamonUserInUK opened #98 "Warning in .xsession-errors file: 'Gtk was imported without specifying a version first'"
`/usr/lib/python2.7/dist-packages/ulauncher/__init__.py:6: PyGIWarning: Gtk was imported without specifying a version first. Use gi.require_version('Gtk', '3.0') before import to ensure that the right version gets loaded.`

OS: Linux Mint 18.1 xenial x86_64
Kernel: 4.8.0-39-generic
DE: Cinnamon
WM: Mutter (Muffin)
CPU: Intel 2 Duo T7500 (2) @ 2.2GHz
GPU: Intel Integrated Graphics

Ulauncher 2.0.13

[2017-03-07 01:32] ACinnamonUserInUK opened #99 "Lots of 'debug' messages in in '.xsession-errors' file"
It seems to me that my build of Ulauncher has some debugging flag turned on - even though I installed Ulauncher from the standard .deb available on the web.

Here are the messages.

[code]

OS: Linux Mint 18.1 xenial x86_64
Kernel: 4.8.0-39-generic
DE: Cinnamon
WM: Mutter (Muffin)
CPU: Intel 2 Duo T7500 (2) @ 2.2GHz
GPU: Intel Integrated Graphics

Ulauncher 2.0.13

[2017-03-07 08:42] gornostal commented on #99
Thanks for creating this issue.
I'm going to address this in the next release.

[2017-03-07 08:47] gornostal commented on #98
Warnings like this week remain appearing in the logs because I don't want to hardcode versions.
Different OSs may have different WebkitGtk2 for example

[2017-03-07 08:47] #98 closed

[2017-03-07 13:11] Abhinav1217 commented on #27
Just installed again from rpm. Loving the RPM, Thanks.

Installation is perfect and app is perfect too.  I am not getting those two errors I mentioned before from installing via rpm so its a plus.

[2017-03-07 13:14] Abhinav1217 commented on #62
Sorry I have a tendency to vanish unexpectedly. I installed the RPM from your website and It haven't closed itself yet. But it has been less than an hour, I will reopen this is it occur.

[2017-03-07 13:22] Abhinav1217 commented on #63
It is less than hour since I installed the RPM, so I can't say much now. By predictive selection I mean that app should select the option I choose most. For example.

When I search 'Fi' I see three apps, Firefox, Files, Filezilla. in alphabetical order.
I choose Firefox 5 times, and choose Files 2 times.

I expected to see order of apps in order of frequently used or last used with last used optio

[2017-03-07 13:28] Abhinav1217 commented on #63
By the way have a look at https://cerebroapp.com/ , it is on github. It is on nodejs but still fast. I know python webview is tough so kick the images and website previews for later. For now, go through the Plugin API  they have. Its nice. They have some nice plugins too.

[2017-03-07 13:38] Abhinav1217 opened #100 "Can't map the keys to ALT+SPACE."
I tried using settings option but `ALT+Space` Doesn't map, It always go to my DE's mapped option . So I directly changed it in the .config/settings.json file and it still crashes.

All the previous apps I used to use were able to map it to this keyboard combo. I then unmapped this combo from the DE ( I use Gnome ) and then tried to map it, Still doesn't work.

[2017-03-07 17:23] gornostal commented on #100
I tried it myself and also got error.
It's coming from Keybinder lib, there is nothing I can do here. Sorry.

[2017-03-07 17:47] gornostal commented on #63
Thanks. I've installed the app. Testing its features...

[2017-03-07 17:58] #53 closed

[2017-03-08 09:04] Abhinav1217 commented on #100
Cerebro also have this problem. But there I could manually edit the config file and map it to ALT+SPACE. and it works. Even if GUI mapping is not working because of keybinder lib error, Hacking the config file should be able to do the trick. Is there no other error?

[2017-03-08 09:18] gornostal commented on #100
In that case I'll check how Cerebro binds to Alt+Space

[2017-03-08 09:25] Cediddi opened #101 "Can't add or change Shortcuts"
Ubuntu 14.04, Ulauncher 2.0.30.r3_all

When I first click a button in Shortcuts menu, it'll work, but after that, any key I click will grayout the whole window. I checked the logs, nothing important there.

---

Installing this package will potentially fix the issue: [gir1.2-webkit2-4.0](https://github.com/Ulauncher/Ulauncher/releases/download/2.1.1.r1/gir1.2-webkit2-4.0_2.14.5-0ubuntu0.16.10.1_am

[2017-03-08 10:31] gornostal commented on #101
Interesting...
Looks like it just hangs up.
I cannot reproduce the problem on a clean Ubuntu 14.04 installation though.

Is there anything special about your Ubuntu 14.04?
What kind of CPU and how much RAM do you have?

[2017-03-08 16:50] GGimenez96 opened #102 "About section still shows 2.0.14 as the version number"

[2017-03-08 16:52] gornostal commented on #102
Can you provide more details?
Your OS, where you downloaded the app.

[2017-03-08 16:53] GGimenez96 commented on #102
Ubuntu 16.04.2 LTS. I downloaded it from the Download section of the official site (http://ulauncher.io/).

[2017-03-08 16:54] gornostal commented on #102
Thanks for reporting this issue.
I'll look into it

[2017-03-09 13:33] gornostal commented on #102
@GGimenez96 I cannot reproduce this issue.
Try to install this deb package again
https://github.com/Ulauncher/Ulauncher/releases/download/2.0.30.r3/ulauncher_2.0.30.r3_all.deb

[2017-03-09 13:56] tylerssn opened #103 "Command tests well from Ubuntu terminal, but does not execute via Ulauncher"
Executing `xdotool search --sync --onlyvisible --class "%s" windowactivate key alt+Tab` allows me to jump to an open window by name from terminal. I've tried adding the following to Ulauncher to no avail.

[code]

P.S. this seems like something that might be native to Ulauncher, so if I'm missing something let me know!

[2017-03-09 13:58] gornostal commented on #103
when adding a command to shortcuts, query string is available from arg vars -- $1 in your case, not %s

[2017-03-09 13:59] gornostal commented on #103
Please reopen if that doesn't help

[2017-03-09 13:59] #103 closed

[2017-03-10 07:42] orschiro opened #104 "FeedReader from Flatpak package not found"
Dear all,

Does anyone have an idea how to integrate apps installed from Flatpak packages?

I installed [FeedReader](https://jangernert.github.io/FeedReader/) as follows:

    flatpak install --from http://feedreader.xarbit.net/feedreader-repo/feedreader.flatpakref

It shows in the Unity launcher and dash but not in Ulauncher.

![image](https://cloud.githubusercontent.com/assets/170947/23786450/71

[2017-03-10 07:48] gornostal commented on #104
I guess flatpak saves its .desktop packages in an unknown to Ulauncher location.
I'll look into this.

[2017-03-10 08:07] orschiro commented on #104
Thank you so much!

Let me know if I can help somehow. :-)

Yours,

Robert

On Fri, Mar 10, 2017 at 8:48 AM Aleksandr Gornostal <
notifications@github.com> wrote:

[2017-03-10 12:55] gornostal commented on #100
Sorry Alt+Space won't work with Ulauncher.

Cerebro app uses totally different tools for key bindings + the most popular Linux DEs already use Alt+Space to show a window menu.

[2017-03-10 12:55] #100 closed

[2017-03-10 13:00] gornostal commented on #74
Spent another two days playing with AppImage.
Got Ulauncher to run actually. However run into an error with libwebkit2gtk:

[code]

Also noticed startup time is much slower comparing to installations from deb/rpm.

I'm personally putting this on hold.
If anybody wants to take over AppImage integration, I stashed my code to `AppImage` branch.

[2017-03-10 13:08] #99 closed

[2017-03-10 13:09] gornostal commented on #99
Fixed in v2.1.1 (Dev) by setting default log level to ERROR.

[2017-03-10 13:33] gornostal commented on #104
Fixed in v2.1.1 (Dev)

[2017-03-10 13:33] #104 closed

[2017-03-10 13:33] gornostal commented on #77
Fixed in v2.1.1 (Dev)

[2017-03-10 13:33] #77 closed

[2017-03-10 13:35] gornostal commented on #94
Created PPA for dev releases `ppa:agornostal/ulauncher-dev`
PPA for stable releases will be available with the next stable release soon.

I would've created PPA under ulauncher name, but Launchpad give an error on login with another user :roll_eyes:

[2017-03-10 13:36] orschiro commented on #104
I just tried it.

It's working! :-)

Thank you for this quick release.

On Fri, Mar 10, 2017 at 2:33 PM Aleksandr Gornostal <
notifications@github.com> wrote:

[2017-03-10 13:36] #94 closed

[2017-03-10 13:36] gornostal commented on #55
Created PPA for dev releases `ppa:agornostal/ulauncher-dev`
PPA for stable releases will be available with the next stable release soon.

I would've created PPA under ulauncher name, but Launchpad give an error on login with another user :roll_eyes:

[2017-03-10 13:36] #55 closed

[2017-03-10 13:37] gornostal commented on #104
Cool!

[2017-03-10 15:21] GGimenez96 commented on #102
I don't know why it happened. I noticed that after restarting my PC it was fixed.

[2017-03-10 15:25] gornostal commented on #102
OK. Closing this ticket.

[2017-03-10 15:25] #102 closed

[2017-03-12 16:35] Zenohm opened #107 "Minor Visual Bug on Preferences Icon"
## Problem

While using ULauncher I noted a small visual error in the preferences icon. Notably, the icon had a slight extension on the right side causing it to form an almost USS Enterprise-esque shape. This error disappears if I hover over the icon, however it does not disappear if I change to light mode, or hide recent results.

## Pictures

- Visual Bug Present:

![Bug Present](http://i.imgur.

[2017-03-12 17:25] Zenohm commented on #107
I did a bit of research going through some of the old closed issues searching for pictures, and I have noticed a slight trend. From what I've seen by looking through these examples, this bug is only present on non-Ubuntu (and family) distributions. This bug specifically seems to be present primarily on Arch Linux, although it appears as though a similar bug is or at least was present on other dist

[2017-03-13 10:11] aurimus opened #108 "Search among open apps too (as an option at least)"
Sometime I have many apps open, for example I have calculator open already but I forgot, now I start ulauncher and type calculator, it opens a new instance. I would like it to show the current instance as an option (with a dot on the left for example).

Would be a great addition.

[2017-03-13 10:39] aurimus commented on #108
Shift + Enter could open a new instance of the app (or an existing, if the option is set the other way)

[2017-03-14 15:55] gornostal commented on #108
Once extension API is done, this feature can be implemented as an extension.

[2017-03-14 15:57] gornostal commented on #107
Wow! Thanks for an exemplary bug report @Zenohm.
I'll look into it

[2017-03-14 16:04] gornostal opened #109 ""ddg !yt music video" doesn't work with shortcut DuckDuckGo"

[2017-03-22 12:47] thylacinelol opened #110 "Ulauncher hotkey Super L not working after OS restart."
Hi all,

There seems to be a problem with the Ulauncher hotkey being reset every time after computer restart. The hotkey I'm using is `<Super L>`, although the same happens with other hotkeys.

Ulauncher version: ulauncher 1.0.0.

OS name and version where bug can be reproduced: Ubuntu 16.04.2 LTS, linux 16.04 4.4.0-67-generic.

Steps to reproduce:

1. Open Ulauncher preferences
2. Change Ulaunche

[2017-03-23 10:15] LeFryskai opened #111 "Can't display anything"
I tried to reinstall it but no change, still have this problem.

OS: Linux Mint 18.1 Serena 64bits
Kernel: 4.10.0
DE: KDE

![peek 2017-03-23 11-11](https://cloud.githubusercontent.com/assets/20724148/24242932/aec934a6-0fb9-11e7-8133-c8426552c0dc.gif)

[2017-03-23 20:15] gornostal commented on #111
Could you run ulauncher from console and post output here?

`ulauncher -v`

[2017-03-23 20:20] gornostal commented on #110
Ulauncher v1 may allow you to set the hotkey to a single key, but it's not officially supported and may not work (as in your case).

Ulauncher v2.0.30 is the latest stable version and is recommended to use.
You can download it from the website ulauncher.io

[2017-03-23 20:20] #110 closed

[2017-03-24 08:01] thylacinelol commented on #110
Thanks, works great!

[2017-03-29 17:42] jflepp opened #112 "Dependency on gir1.2-notify-0.7"
Ulauncher depends on gir1.2-notify-0.7, a package not listed in the dependencies

[2017-03-29 18:15] gornostal commented on #112
@jflepp what distro do you use?

[2017-03-30 08:38] jflepp commented on #112
debian-8.7.1 with Mate Desktop

[2017-03-30 09:09] gornostal commented on #112
Thanks. I'll look into it

[2017-03-31 18:37] gornostal commented on #111
Sorry for the delay, could you run `rm -rf ~/.cache/ulauncher_cache/`?

[2017-03-31 18:38] gornostal commented on #111
I think you might have run ulauncher with python3 prior to catching that error.

[2017-03-31 19:03] gornostal commented on #107
@Zenohm
When you run ulauncher from terminal like this `ulauncher -v` it logs GTK+ version.
Can you tell what it is on your machine?

Log entry will look something like this:
`2017-03-23 22:14:53,775:INFO:ulauncher: main() 'GTK+ 3.20.9'`

[2017-03-31 19:08] LeFryskai commented on #111
Thanks, removing the ulauncher_cache resolve my problem.

For the version, I try `python3 ulauncher -v` in my /usr/bin folder

Traceback (most recent call last):
  File "ulauncher", line 24, in <module>
    import ulauncher
ImportError: No module named 'ulauncher'

I'm not familiar with python, sorry for that.

[2017-03-31 19:09] gornostal commented on #101
If the issue still persists, could you run ulauncher from terminal like this `ulauncher -v` and copy output here?
I'll also need more info about resources on your PC. I've seen something similar on my VBox with limited RAM and CPU, so that can explain the issue.

Please reopen when you gather more info.

[2017-03-31 19:11] gornostal commented on #111
It's good to know that it is resolved.

[2017-03-31 19:11] #111 closed

[2017-03-31 19:28] gornostal commented on #107
I tried on my Archlinux in VBox and I haven't seen that issue.
GTK+ 3.22.10 is installed there.
Although I'm using KDE, I don't think that has anything to do with the bug.

[2017-04-01 08:25] Cediddi commented on #101
Sorry for late reply. I removed the application. It's still here in 2.0.30.r3 My special case is I actually have Linux Mint 17.3 Cinnamon which is based on ubuntu 14.04 + cinnamon interface (gnome3 fork). Almost all packages are installed from official ubuntu repo, so binaries are 100% compatible. Maybe it's the Cinnamon.

When the UI breaks, no new log is produced but when I ctrl-c it, raises a s

[2017-04-01 08:52] gornostal commented on #101
This may by caused by a bug in gir1.2-webkit2-3.0. Try updating that package.
Ideally, you would want to install gir1.2-webkit2-4.0, but I doubt it's available for Ubuntu 14.04

[2017-04-01 08:53] Cediddi commented on #101
So, no support for 14.04 then.

[2017-04-01 09:33] gornostal commented on #101
Can you copy output from `apt-cache show gir1.2-webkit2-3.0`?
I'll compare with what I have on my Ubuntu 14.04

[2017-04-01 10:34] Cediddi commented on #101
Here,

    Package: gir1.2-webkit2-3.0
    Priority: optional
    Section: introspection
    Installed-Size: 170
    Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
    Original-Maintainer: Debian WebKit Maintainers <pkg-webkit-maintainers@lists.alioth.debian.org>
    Architecture: amd64
    Source: webkitgtk
    Version: 2.4.10-0ubuntu0.14.04.1
    Depends: gir1.2-javascript

[2017-04-01 11:08] gornostal commented on #101
It's the same on my Ubuntu.
I'll look into this issue more because I was able to reproduce the bug just now.
Although errors I see are different from yours.

[2017-04-01 13:30] Cediddi commented on #101
Maybe it's the cinnamon. How can I help you? I fetched the code and ran dev-run.sh but got those errors when I try to open settings.

    file:///home/cediddi/PycharmProjects/Ulauncher/data/preferences/build/js/app.min.js:1797:36JS ERROR: TypeError: undefined is not a function (evaluating 'd.module("ngRoute",[]).info({angularVersion:"1.6.4"})')
    file:///home/cediddi/PycharmProjects/Ulauncher/da

[2017-04-01 13:51] gornostal commented on #101
It's not an issue with the source code, so you can save your time and quit debugging that error)
It's definitely some of the GTK libs failing. Maybe I'll find a workaround. I'm working on it now. Will keep you posted

[2017-04-01 14:34] gornostal commented on #101
As a workaround, you can install gir1.2-webkit2-4.0, which is not listed in Ubuntu 14.04 repositories.
I uploaded it to releases https://github.com/Ulauncher/Ulauncher/releases/download/2.1.1.r1/gir1.2-webkit2-4.0_2.14.5-0ubuntu0.16.10.1_amd64.deb
It can be installed with
[code]
First command will show an error, but that's OK.

After installing that package Add and Edit buttons work on my 14.04.

[2017-04-01 14:40] Cediddi commented on #101
Nope, didn't fixed the issue. Still having freezing and segmentation fault.

[2017-04-01 14:45] gornostal commented on #101
That's too bad because I don't see anything else that could fix it

[2017-04-10 09:47] orschiro commented on #75
@geckolinux maybe Albert and uLauncher — both are fantastic launchers — should just merge into one even greater project. :-)

[2017-04-10 12:35] orschiro opened #113 "timer to understand minutes?"
Dear all,

Would the following be possible? :-)

![image](https://cloud.githubusercontent.com/assets/170947/24861951/e7e338f0-1dfa-11e7-82b3-ee93a1ae3713.png)

[2017-04-10 16:57] gornostal commented on #113
You can type in `timer 5m "your message"` for that.
I'm going to have to close this ticket because I'm currently not investing my time to improve everything except core features.
Timer will become a plugin (in a separate repository) with the next major release.

[2017-04-10 16:57] #113 closed

[2017-04-10 18:18] orschiro commented on #113
Thank you, @gornostal!

I will wait then until Timer has a separate repository.

However, I believe you got my point wrong.

It was not about adding a custom message but rather make Timer understand that `timer 5 minutes` means to run the timer for `5m`.

[2017-04-13 10:41] RoadToDream opened #114 "Why the preference window is blank?"
![image](https://cloud.githubusercontent.com/assets/8088354/25001567/a662f80e-2078-11e7-9f97-c19bbc6aafbd.png)
As it is...
How to fix it?

---

:warning: **WORKAROUND** :warning:
Run ulauncher with this env var `WEBKIT_DISABLE_COMPOSITING_MODE=1 ulauncher`
or update the desktop file (usually located in /usr/share/applications) like this:
[code]

In future versions, we'll try to get rid of WebKit c

[2017-04-13 11:47] RoadToDream commented on #114
Don't know why it has fixed after i installed the dev version and failed ...

[2017-04-16 09:02] gornostal commented on #114
Hi @RoadToDream
So does it work now?
If not, could you run the app from console `ulauncher -v`, open preferences, and then post console output here?

[2017-04-16 09:03] gornostal commented on #114
I also need to know your OS and desktop environment (Gnome, KDE, etc)

[2017-04-17 17:17] ydawei commented on #114
Same here. Gnome 3.22.0, Ubuntu 17.04, Ulauncher version: at commit ccde34978765274484282ac57b54fdca09b519d8.

[2017-04-17 17:23] gornostal commented on #114
@ydawei could you post `ulauncher -v` output?

You have to close the app first.

[2017-04-18 01:14] RoadToDream commented on #114
It has fixed after I reinstalled it.
I am using a Ubuntu 16.04 with Gnome.

[2017-04-18 13:49] geigi opened #115 "Hotkey not working with gdm autologin and gnome 3.22"
Hey,
I'm using Ulauncher v2.0.30.r3 on Arch Linux. When using gdm with autologin on gnome 3.22 the Ulauncher hotkey is not working for me, even if I quit ulauncher and reopen it. Also Ulauncher is not centered on the screen as it is when autologin is disabled.
Workaround: log out and back in after boot with autologin

[2017-04-18 18:46] gornostal commented on #115
Could you show logs from `ulauncher -v`?

Please close the app first if it's running.

[2017-04-19 09:06] geigi commented on #115
Sure :)
[code]

[2017-04-19 09:10] geigi commented on #115
I think this is not an issue with ULauncher. I just tried albert out of curiosity and it's not working either. Maybe it's a gnome issue with hotkeys & autologin

[2017-04-19 09:12] #115 closed

[2017-04-19 09:46] gornostal commented on #115
Ah.. You didn't mention you are trying to set Win+Space.
Yeah, it won't work. It's due to limitations of Keybinder library that
Ulauncher uses.

[2017-04-19 10:05] geigi commented on #115
Ahh sorry :) Yeah I didn't know that gdm uses wayland as default when enabling autologin (I want to use X instead).
Cheers :)

[2017-04-19 15:29] ydawei commented on #114
There is too much output. I post here the error message when opening the preference window.
The complete output is attached as a file:
[ulauncher_output.txt](https://github.com/Ulauncher/Ulauncher/files/935624/ulauncher_output.txt)

FYI, I installed ulauncher multiple times.

[code]

[2017-04-21 08:55] xircon commented on #114
The ulauncher AUR version functions as expected, the ulauncher-git version has the blank preferences.
Manjaro Linux, unstable branch, i3wm/KDE both the same.  Away from my computer, can post output later.

[2017-04-22 08:42] #109 closed

[2017-04-22 08:48] gornostal commented on #114
@ydawei how did you install Ulauncher?
You've got it installed to ~/Downloads, which is weird.
If you installed it from source did you follow these steps? https://github.com/Ulauncher/Ulauncher#build-and-run

[2017-04-22 09:09] gornostal commented on #114
I think I found the root cause. It only reproduces when installed from source.

[2017-04-30 10:47] gornostal commented on #107
Closing as cannot reproduce for now.

[2017-04-30 10:56] #83 closed

[2017-04-30 10:59] gornostal commented on #80
Apparently app has to be in the main repo in order to have a screenshot https://askubuntu.com/a/117353/64612

[2017-04-30 10:59] #80 closed

[2017-04-30 12:28] gornostal opened #119 "[v2.2.0 Ubuntu 14.04] TypeError PrefsApiError(...) is not JSON serializable"
PreferencesUlauncherDialog.py on line 150.
TypeError PrefsApiError(...) is not JSON serializable

[2017-04-30 12:29] gornostal opened #120 "[v2.2.0 Ubuntu 14.04] Indicator stays white when Ubuntu theme switched to light"

[2017-04-30 12:48] gornostal commented on #119
Invalid.

[2017-04-30 12:48] #119 closed

[2017-04-30 12:48] gornostal commented on #120
Won't fix. Can be reproduced only on 14.04

[2017-04-30 12:48] #120 closed

[2017-04-30 13:30] gornostal commented on #112
Fixed in [v2.2.0](https://github.com/Ulauncher/Ulauncher/releases/tag/2.2.0.r1)

[2017-04-30 13:30] gornostal commented on #114
Fixed in [v2.2.0](https://github.com/Ulauncher/Ulauncher/releases/tag/2.2.0.r1)

[2017-04-30 13:30] #112 closed

[2017-05-01 13:40] gornostal commented on #107
Was able to reproduce with GTK 3.22.10 and Xfce on Arch Linux

[2017-05-01 19:38] gornostal opened #121 "Implement Extension Configuration UI in Angular"
![ulauncher preferences_183](https://cloud.githubusercontent.com/assets/1202543/25627723/40f718e4-2f6c-11e7-85a1-36beadfaf2d3.png)

Page Layout:
![selection_186](https://cloud.githubusercontent.com/assets/1202543/25629184/5ff8f06e-2f71-11e7-9c20-5bf88ea129f9.png)

API is not ready, but UI can be implemented nevertheless.

[2017-05-02 06:10] gornostal opened #122 "Show hotkey notification only on the first launch"

[2017-05-03 10:28] NetBender opened #123 "Add an option to clear the previously written text"
After the latest stable update (2.2.0.r1), if the user doesn't complete the query, the text is stored and shown every time ULauncher is called (while in the previous version it was automatically removed to show an empty text field).
Can this behaviour be optional?

[2017-05-03 10:36] NetBender opened #124 "Latest update doesn't show the correct version of the program in the about page"

[2017-05-03 14:02] ewasser opened #125 "Exception returning on_enter=SetUserQueryAction(...) / Howto use ExtensionResultItem() with on_enter=SetUserQueryAction(...)"
I've created a simple application (trying to imitate the example from your [Development Tutorial](http://docs.ulauncher.io/en/latest/extensions/tutorial.html) page.

    #!/usr/bin/python2

    from ulauncher.api.client.Extension import Extension
    from ulauncher.api.client.EventListener import EventListener
    from ulauncher.api.shared.event import KeywordQueryEvent, ItemEnterEvent
    from ul

[2017-05-03 16:17] gornostal commented on #125
Hi @ewasser,

1. Code looks right?
2. The approach you chose is the right way to modify the query.
3. No hints yet. I'll try to repo this issue later today.

[2017-05-03 18:26] gornostal commented on #124
@NetBender
What version did you install?
What version is displayed?
What OS do you use?

[2017-05-03 18:39] gornostal commented on #125
That was a bug with `SetUserQueryAction()`.
Now it's fixed. Please download the newest dev release [3.0.1](https://github.com/Ulauncher/Ulauncher/releases/tag/3.0.1.r0)

Thanks for reporting the issue :+1:

[2017-05-03 18:40] #125 closed

[2017-05-03 18:47] gornostal commented on #123
This behavior is by design and was there since version 2 (maybe even 1).

I'll add an option to clear the input. It's not going to be any time soon, though.

[2017-05-04 00:53] NetBender commented on #124
Installed version: 2.2.0.r1
Version displayed: the previous stable version
OS: Ubuntu 17.04

Seems that a reboot fixed everything (and i don't know how that is even possible) so i don't know how to help.

[2017-05-04 00:53] #124 closed

[2017-05-04 10:59] mkoseoglu opened #127 "Launch at Login Problem Manjaro XFCE"
I have installed System Ulauncher. The "Launch at Login" box is not clicked in Prefences.
I made Ulauncher Stable.
Linux mksglu 4.9.24-1-MANJARO x86_64 GNU/Linux

[2017-05-05 16:33] gornostal commented on #127
Hi,

Do you mean that you cannot check "Launch at Login"?
If so, could you try to close Preferences and open them again?
Let me know if that helps.

If issue still exists, please send logs `~/.cache/ulauncher_cache/last.log`

[2017-05-05 22:18] mkoseoglu commented on #127
@gornostal I tried to restart it. Failed.
not clicked. I had to make and run it on Manjaro from "Session and Startup" settings. Log file is empty.

[2017-05-06 19:08] gornostal commented on #127
Could you run it from terminal then?
`ulauncher -v`

Please send output.

[2017-05-06 21:18] mkoseoglu commented on #127
It worked with this command. After entering the command I entered the settings and marked the button. I restarted my computer and it started working.
`/usr/lib/python2.7/site-packages/ulauncher/ext/notification.py:1: PyGIWarning: Notify was imported without specifying a version first. Use gi.require_version('Notify', '0.7') before import to ensure that the right version gets loaded.
  from gi.repo

[2017-05-07 14:54] gornostal commented on #127
I see you have run `ulauncher -v` while the app was running. I forgot to mention you should close it first :)
If issue re-occurs again, please do so and reopen the ticket.

Thanks.

[2017-05-07 14:54] #127 closed

[2017-05-12 21:02] ddeath opened #128 "<ctrl> + <a> then <backspace> does not remove all input"
**Steps to reproduce:**

* open Ulauncher
* type in "/var/log"
* press < ctrl > + < a >
* press < backspace >
* it removes only "log" and not all selected input

**Ulauncher version**: 3.0.1.r0
**Linux distro**: Linux Mint 18 Sarah
**Desktop environment**: Cinnamon 3.4.0

**Logs**:
https://gist.github.com/ddeath/1253a25a0a59e5fae63c5b42095fd028

[2017-05-12 21:25] ddeath opened #129 "selection shortcut alt + 1 select incorrect option"
**Steps to reproduce:**

* open Ulauncher
* type in "/var"
* press < key-down > multiple times to select "www" (it shows shortcut < alt > + <5>)
* press < alt > + <1>
* it selects "/var/www" anyway

**Ulauncher version**: 3.0.1.r0
**Linux distro**: Linux Mint 18 Sarah
**Desktop environment**: Cinnamon 3.4.0

**Logs**:
https://gist.github.com/ddeath/663e39a440da544f28ec29b32461c913

[2017-05-13 05:02] gornostal commented on #129
@ddeath thanks for reporting these bugs.
I'll look into them.

[2017-05-16 19:33] harindu95 commented on #121
Is there a reason for  using a web ui instead of gtk?

[2017-05-16 19:36] gornostal commented on #121
Yes, actually.
GTK apps are really hard to customize, plus UI development in JS is much faster with all those millions of npm packages.
Also, I want to build workflow UI (something similar to Alfred maybe) and I'm pretty sure it will be much easier with JS/HTML

[2017-05-17 09:54] NetBender opened #130 "Ulauncher search doesn't work (for the first 5 minutes)"
**Steps to reproduce:**
1. start Ulauncher (either via terminal, dash or autostart);
2. use the hotkey and type anything that is not a shortcut.

Expected behaviour: Ulauncher shows the programs matching the written string.
Actual behaviour: the only matched items are the default shortcuts.

Notes: Ulauncher actually start to work ~5 minutes after the startup. From that point on, closing and re-op

[2017-05-17 18:58] gornostal commented on #128
Nice find :+1:
Will be fixed soon

[2017-05-17 19:01] gornostal commented on #130
Thanks for reporting.

This will be addressed soon

[2017-05-18 16:26] NetBender opened #133 "Add a button to enable/disable the shortcuts"
At the moment we can only edit or remove them.

[2017-05-18 18:57] gornostal commented on #133
Sounds useful.

[2017-05-18 19:35] #128 closed

[2017-05-18 19:35] #129 closed

[2017-05-18 19:47] gornostal commented on #128
I'm deploying release 3.0.2.r0 (Dev) that includes the fix.

[2017-05-18 19:48] gornostal commented on #130
Fixed in 2.2.1 https://github.com/Ulauncher/Ulauncher/releases/tag/2.2.1.r0

[2017-05-19 15:20] TylerCode commented on #77
Thanks @gornostal, I was just making the comment but you had it fixed in a very short amount of time. Better support than software I've paid hundreds for.

[2017-05-23 06:35] Mibo5354 commented on #122
It's annoying that it pops up every time I log on.

[2017-06-03 19:38] Pshemas opened #135 "How would you build for Centos?"
Sorry for posting this here, but I can't seem to find other place - how do you build Ulauncher for Centos7 ?
There is no rpm for this distro and I'd love to have it - mostly because it is possible to configure Ulauncher to start from a single keystroke (super key for example). Even though from what I read it is not officially supported , for me this is the only sensible option for launcher - and t

[2017-06-03 21:01] Pshemas commented on #135
I'm stuck at:
ImportError: cannot import name WebKit2

[2017-06-06 08:48] adriffaud opened #136 "Add an option to blacklist certains directories from search"
Hello,

It would be nice to be able to blacklist certain directories from indexing.
In my case, on Linux Mint, I have 210 `.desktop` files in `/usr/share/applications/screensavers`. All these shortcuts appear in Ulauncher and I often launch some of them given their names looks a lot like apps I use most :sweat_smile:

**Ulauncher version**: 2.2.1.r0
**Linux distro**: Linux Mint 18.1
**Desktop envi

[2017-06-06 18:28] gornostal commented on #135
Hi
Sorry for the delay.

Looks like you need to install package `gir1.2-webkit2-4.0` or alternative for Centos.
Possible names: `typelib-1_0-WebKit2-4_0`, `webkitgtk3`, `webkit2gtk`

If you get it to work, could you post list of packages that you had to install please?
Thanks.

[2017-06-06 18:33] gornostal commented on #136
That would be a good improvement indeed.

[2017-06-11 06:41] gohv commented on #130
Hello,
I am having the same issue.
I am using v2.2.1.r0 and Ubuntu 17.04 with Gnome Shell 3.24.1.
I have also tried with Dev Version 3.0.2, the issue is still the same.
After lets say 5 minutes, Ulauncher starts working normally.

[2017-06-11 07:04] gornostal commented on #130
@gohv its probably indexing unnecessary desktop dirs.
Could you provide log (`ulauncher -v`) so I can add those dirs to blacklist?

[2017-06-11 07:13] gohv commented on #130
@gornostal  Hey,
Thank for the reply!
Is this what you need?
[code]

[2017-06-11 09:24] gornostal commented on #130
Ah.. you had ulauncher running.
Could you stop the app and then run with command `ulauncher -v`
Log will be available in `~/.cache/ulauncher_cache/lasst.log`

[2017-06-12 16:38] gohv commented on #130
Hello,
Sorry for the delay,
https://pastebin.com/xQr3yYXx
My setup is messy, so let me know if this is causing the issue.

[2017-06-12 19:03] gornostal commented on #130
Looks like `/usr/share/kservices5/` should be blacklisted.
Will be done with the next release

[2017-06-20 23:55] viggy96 commented on #130
Should also blacklist `/usr/share/fk5` as well as `/user/share/kservicetypes5`.

[2017-06-20 23:55] viggy96 commented on #130
Should also blacklist user Trash directory.

[2017-06-20 23:59] viggy96 opened #137 "Add button to trigger directory desktop file re-scan"
Basically title. It's not that difficult to kill Ulauncher and start it again to do this, but it'd be nice and more user friendly if there was a button that did this, or better yet, maybe an apt trigger which automatically did this upon application install (or both).

[2017-06-21 00:34] viggy96 opened #138 "Ulauncher not clearing previous entry"
**Steps to reproduce:**
Search for an item
Exit Ulauncher, or open the selected item to make Ulauncher close
Trigger Ulauncher again, and the previous entry is still there

**Ulauncher version**: 3.0.2.r0-0ubuntu1ppa~xenial
**Linux distro**: Ubuntu 16.04.2 LTS
**Desktop environment**: Cinnamon 3.4.1

[2017-06-21 03:30] gornostal commented on #138
It's a bug if previous entry is not cleared when you open a selected item.
In that case you provide more details on how to reproduce? I wasn't able to.

If you just switch focus off from Ulauncher and then activate the app again, previous entry should be there. It's by design. There is a ticket to change that behavior #123

[2017-06-21 03:34] gornostal commented on #137
Ulauncher watches app directories and adds apps to the index automatically.
If you install new apps but they don't appear in Ulauncher it could be a bug.
Can you provide steps to reproduce please?

[2017-06-26 20:26] sgreene570 opened #139 "Can't search for a program based on name of desktop entry file"
**Steps to reproduce:**
A lot of desktop entry files use an abbreviated name of the program as the filename of the `.desktop` file.
For example, GNU Image Manipulation Program (most commonly called GIMP), cannot be launched from ulauncher with the query "gimp" by default.  Instead, to run gimp in ulauncher, you need to search for "GNU Image...".  Other launchers will use the desktop entry filename

[2017-06-27 04:07] gornostal commented on #139
Could you attach desktop file for GIMP please?

[2017-06-27 16:21] sgreene570 commented on #139
Here is the GIMP desktop file
https://pastebin.com/Tc0C954F

[2017-06-27 18:54] gornostal commented on #139
Thanks. I'll look into it

On Tue, Jun 27, 2017, 19:21 Stephen Greene <notifications@github.com> wrote:

[2017-07-03 12:49] IgnusG opened #140 "Plans for more/3rd party themes?"
Any plans to support themes?
I currently experience a small ui glitch with the settings button in both currently available themes.

![Settings button](http://i65.tinypic.com/24wei9v.png)
It looks as if 2 buttons are rendered with the second one being cut off on the side...

[2017-07-04 04:40] gornostal commented on #140
3rd party themes will be the next milestone. Current is extensions.

What's your Ulauncher version, Linux distro, and desktop environment?

[2017-07-04 07:04] IgnusG commented on #140
Great!

LD: Arch
Ulauncher: 2.2.1.r0-1 (ulauncher AUR)
DE: deepin-desktop-environment

[2017-07-05 12:20] gornostal commented on #140
@IgnusG this is a duplicate of #107
Please subscribe to updates in that ticket.

[2017-07-05 12:20] #140 closed

[2017-07-06 17:35] altla opened #141 "Can't open directories with azerty keyboard"
**Steps to reproduce:**
Launch ULauncher and navigate by typing to any directory. When you pess Alt+[Any Number] nothing happens and it is literally impossible to open a directory.

I'm assuming this is because of the keyboard layout (I'm using Belgian azerty).

**Ulauncher version**: 2.2.1.r0
**Linux distro**: Elementary OS

Except for this issue, the launcher has been great. Thanks a lot for the

[2017-07-06 17:37] gornostal commented on #141
@altla thanks for reporting. I'll look into it

[2017-07-06 18:37] altla commented on #141
Actually, I just tried this with Qwerty US keyboard layout and still the same issue. Not sure what other info might be helpful but let me know if I can provide anything else.

[2017-07-06 18:42] gornostal commented on #141
Could you close Uluncher and then run it with `ulauncher -v` and copy
output here (or better to pastebin.com or gist.github.com)?

--
Thanks,
Aleksandr

[2017-07-06 18:42] gornostal commented on #141
Please do this after you try to open a dir with a keyboard

--
Thanks,
Aleksandr

[2017-07-06 20:24] altla commented on #141
It actually seems to work fine after all: I hadn't realized that to open a folder you needed to press ctrl+alt+enter.

[2017-07-09 13:42] michael-n0813 opened #142 "Uncaught exception ProjectPathnotFoundError in /usr/lib/python2.7/site-packages/ulauncher/config.py"
Build 2.2.1.r0

I build the AUR package from arch
https://aur.archlinux.org/packages/ulauncher/

and encounted an Uncaught exception
ProjectPathnotFoundError

in /usr/lib/python2.7/site-packages/ulauncher/config.py

line 47
`os.path.dirname(__file__)`  >>was returning nil

changing it to absolute file path fixed it.
`os.path.dirname(os.path.abspath(__file__)), __ulauncher_data_directory__)`

other

[2017-07-11 10:40] #141 closed

[2017-07-11 10:41] gornostal commented on #142
Interesting...
I'll look into this.

[2017-07-14 05:04] CottonEaster commented on #123
I second the request.

[2017-07-19 18:54] diggit commented on #123
Automatically hilighting previous query could be solution too. Typing will overwrite it immediately but if you wan to reuse it, just press right arrow and continue...

[2017-07-20 11:54] TWT-GSCHW commented on #123
This also happens if you close ULauncher with ESC key. I think in this case the search string should definitely be cleared. Else the suggestion from diggit seems perfect.

[2017-07-27 01:13] CottonEaster commented on #142
I get the following in .xsession-errors, on Mint 18.2 Cinnamon using Ulauncher 3.0.2r0.

[code]

[2017-07-27 07:16] gornostal opened #143 "No such interface 'org.freedesktop.Notifications' on object at path /org/freedesktop/Notifications"
I get the following in .xsession-errors, on Mint 18.2 Cinnamon using Ulauncher 3.0.2r0.

[code]

[2017-07-27 07:18] gornostal commented on #142
@CottonEaster this is different. I've created a new ticket for your issue: #143

[2017-08-01 02:03] romulomourao opened #144 "Useful shortcuts"
Hi,
First, I would like to say that this launcher is great! I used to use Synapse as launcher, but ULauncher is really awesome.
However, I would like to suggest the addition of some shortcuts that I consider useful:

- Shutdown
- Log Out
- Reboot

All these shortcuts are present in Synapse.

PS: Sorry if someone already issued that

[2017-08-01 05:41] gornostal commented on #144
These are good suggestions :+1:
Thanks @romulomourao

[2017-08-03 15:56] hickscorp commented on #130
Hey :) I have the same problem. ULauncher only shows the pre-programmed shortcuts for a while and then displays the programs found in the standard locations.

I partially solved the problem by configuring a shortcut as such (See image). This way, if when I type `slack` nothing is found, I just prepend `run` to run the command.

I know it's not really a fix to that particular problem, but at least

[2017-08-03 15:59] hickscorp commented on #144
Hi! I fixed those issues by creating the following 3 files. You can place them either in `/usr/share/applications` or in your user's `~/.local/share/applications`:

[code]

[code]

After ULauncher boots up and finds those files, you can issue any of the `Keywords` and it will invoke those. Hopefully will not require any privilage elevation in modern distros.

[2017-08-03 16:04] hickscorp opened #145 "Icon Selection Dialog"
This is not a bug and doesn't require any immediate attention.

Something really great would be a native icon selection dialog. For instance if you're using Xfce, the attached picture shows how you can assign an icon to a shortcut. This type of dialog would be great (rather than selecting a PNG / SVG file).

Keep up the good work, ULauncher is a really cool little tool!

![image](https://user-imag

[2017-08-07 09:14] Pshemas commented on #135
sorry for not getting back to you sooner - I resolved the problem by installing all webkit packages (typed yum install webkitgtk* ). If there's a way to check exactly which package contained required files let me know and I'll try to sort it out.
I regret I don't know howto package apps - I'd love to hae Ulauncher as RPM for Centos . Anyways I got it working and super happy with it - Ulauncher wor

[2017-08-07 09:24] Pshemas opened #146 "Custom .desktop file not visible in Ulanucher"
I've created a .desktop file that lunches freeRDP (which connects me to remote desktop). It is visible in apps menu, but it seems Ulauncher does not see it.
Is there a way to make it available in Ulanucher (I've gotten used to launching apps through Ulauncher :D ).
I'm running Centos 7, .desktop file is located in ~/.local/share/applications, and it looks like this:

[Desktop Entry]
Version=1.0
Na

[2017-08-09 09:25] gornostal commented on #146
It should work. Perhaps the desktop file is invalid. You can copy one that is working and try modifying it.
Please also make sure that your file is in one of directories returned by this command:

[code]

[2017-08-09 09:26] gornostal commented on #135
I'm reopening this issue so I have a reminder to prepare a list of packages for Centos that are required for Ulauncher.

[2017-08-09 12:58] Pshemas commented on #146
I might have tried to post it incorrectly but this command returns error on my side:

$ import os; from xdg.BaseDirectory import xdg_data_dirs; filter(os.path.exists, xdg_data_dirs)
bash: błąd składni przy nieoczekiwanym znaczniku `os.path.exists,'

-but that may be just me doing something incorrectly. I don't have much experience with trickier bash commands ;) .
As for .desktop file - you can see

[2017-08-09 13:06] gornostal commented on #146
Oh, I forgot to mention that command is for Python. Enter "python" in bash
first.

On Wed, Aug 9, 2017, 15:58 Pshemas <notifications@github.com> wrote:

[2017-08-10 10:12] Pshemas commented on #146
LOL - yeah, I should have figured that out, sorry :) . Here's the output after those commands:

['/home/przemek/.local/share', '/usr/local/share', '/usr/share']

[2017-08-12 07:48] #137 closed

[2017-08-12 07:54] gornostal commented on #138
I wasn't able to reproduce this

[2017-08-12 07:54] #138 closed

[2017-08-12 10:28] gornostal commented on #146
It might be a parser error. Your OS may user a different parser than Ulauncher.

Try closing Ulauncher and running it from command line like this: `ulauncher -v`
Look errors like "Could not read "....desktop": constructor returned NULL"
If your desktop file could not be parsed because of an error, you can try to simplify the file, see what causes the error by removing some lines, maybe even taking

[2017-08-12 18:38] gornostal commented on #143
@CottonEaster are you still seeing this error in Mint?
I installed Min 18.2 Cinamon, but wasn't able to reproduce this issue.

Please reopen if needed

[2017-08-12 18:38] #143 closed

[2017-08-12 19:35] CottonEaster commented on #143
Hi. If I run Ulauncher via the terminal, I see, now, only, the following.

[code]

So, I think progress has been made, because the warnings are fewer and perhaps - I am not in a position to judge - less serious.

[2017-08-12 19:36] gornostal commented on #143
These warnings are expected. Does the app work fine?

[2017-08-12 20:56] CottonEaster commented on #143
Yes, the application works as it should, thank you. Still, miminizing log - or even just terminal output - spam (i.e., such stuff as is unnecessary) is a good thing, though some of it might be outside of an application's control.

[2017-08-13 05:28] gornostal commented on #142
@michael-n0813 I tried to reproduce it on Manjaro Linux (I don't have clean Arch Linux now), but I wasn't able to.
I used this command to install:
[code]
Did you use something else?

As for missing require_version, that is intentional because some legacy distros don't have newer versions and I wanted Ulauncher code to be compatible with them too.

[2017-08-13 08:43] CottonEaster commented on #142
To install I used this ppa: agornostal/ulauncher

By the way: I am using Arch. Rather, and as I said, I'm on Mint. However, I can install Ulauncher via git cloning if you think it will help.

[2017-08-13 08:58] gornostal commented on #142
So are you having issues with installing the app on Mint or on Arch?
I'm a little confused :)

Anyway, I tried it on both and it works.

[2017-08-13 10:57] CottonEaster commented on #142
I am using the app on _Mint_ (but that doesn't mean I couldn't install it from Github). But: never mind; there's only so worked up about terminal warnings that I can get! Thanks for your time.

[2017-08-14 07:09] Pshemas commented on #146
you're right - that's exactly the error I'm seeing:
XfreeRDP.desktop": constructor returned NULL

As you may see in the first post the .desktop file is pretty simple . My guess is that the exec line with all those extra parameters is causing problems as that's the only "more complex" line - will check it out and report back (but quite annoyingly the .desktop file works as it should in apps menu).

[2017-08-14 07:14] Pshemas commented on #146
ok, modified the file and also marked the .desktop as trusted - it appears in Ulauncher now :+1:  . Thank you Gornostal for pointing this one out :) .

[2017-08-14 07:14] #146 closed

[2017-08-14 07:16] gornostal commented on #146
Cool!

[2017-08-17 04:13] codeRSH commented on #130
Hi, I am having this issue as well. While you guys work for a permanent fix in the next version, is there anything the users can do as a temporary workaround?

Love the Ulauncher otherwise, thanks :)

[2017-08-17 19:57] gornostal commented on #130
As a temporary workaround you could find `ulauncher/utils/desktop/__init__.py` somewhere in your system and add more directories to `blacklisted` list.

In the next version I'm blacklisting the following dirs by default:
[code]
If you close the app and run it from console as `ulauncher -v`, you'll most likely see lot's of `constructor cannot be NULL` errors that follow `.desktop` file that cannot

[2017-08-17 22:15] hickscorp commented on #130
@gornostal Are you the maintainer of ULauncher? How about this: once the crawling cycle of ULauncher complete, serialize the results into `~/cache/whatever.db`.

Therefore, when ULauncher starts:

- Start crawling cycle.
- Check for `~/.cache/ulauncher/whatever.db`.
- If it exists, deserialize the data and make it available.
- Regardless of whether a cache file was restored upon startup, just comp

[2017-08-17 22:18] hickscorp opened #150 "Typo in one of the filenames"
A file is being created in ULauncher's cache directory, named `file_borwser_queries.db`.
It should be renamed `file_browser_queries.db`.

**I'm not a Python developer so I have no clue about syntax**, but something like this:
https://github.com/Ulauncher/Ulauncher/pull/151

[2017-08-17 22:29] hickscorp opened #152 "Non-standard cache path"
In my `~/.cache` directory, two folders are being created by ULauncher, one not following the standard convention:

- `~/.cache/ulauncher` which is correct, and probably created by the Webkit internal based on the app id.
- `~/.cache/ulauncher_cache` which has that redundant `_cache` suffix.

It would be nice to fix that to have a more standard cache directory structure.

The responsible line is i

[2017-08-17 22:33] hickscorp opened #153 "Cannot change the "Default search" behavior of shortcuts."
When editing shortcuts, there is this checkbox allowing them to be used when nothing matches the query.
By default, the check is ticked, but unticking it is not saved and the shortcuts keep showing in the suggested results, which is most likelly an unexpected behaviour.

The checkbox I'm talking about is accessible when editing a single shortcut, here is a screenie:

![image](https://user-images.g

[2017-08-18 05:08] gornostal commented on #150
@hickscorp thanks for the PR and all the other comments.

I'll merge that soon.

[2017-08-18 05:10] gornostal commented on #152
There is a bug in WebKit2 that removes cache folder if it has the same name as the executable. Hence `~/.cache/ulauncher_cache`.
It's actually mentioned in that file you linked

[2017-08-18 05:10] #152 closed

[2017-08-18 05:11] gornostal commented on #153
Thanks for reporting this issue. I'll fix that

[2017-08-18 05:16] gornostal opened #154 "Cache the apps (Initially at boot applications do not show up in the menu)"
Cache the apps so the user won't have to wait until the apps are indexed on Ulauncher restart

[2017-08-18 05:17] gornostal commented on #130
@hickscorp I like your idea with caching apps. I also was thinking to do that some time ago.
I'll plan this improvement for the next release.
Created a separate ticket #154

[2017-08-18 07:33] tolisp opened #155 "App hotkey not working"
Hi everyone

i can't get ulauncher to launch using the shortcut keys (ctrl + space or any other user defined). Although ulauncher launches if i find it in the software list and click the icon, the shortcut never worked. I am trying to find a shortcut key combination that is definetely unique to be sure i don't have conflicts and will post update if i find anything

 **Steps to reproduce:**
Press t

[2017-08-18 16:03] gornostal commented on #155
Hi @tolisp,

I would like to find out the reason of this issue.

Could you quit the app and start it from console using this command? `ulauncher -v`
The logs you provided don't contain all the necessary info.

[2017-08-23 21:08] drejones opened #156 "Segfault on Ubuntu 17.10 (Wayland)"
Installed Ulauncher with .deb but grabbing this error message on start:

/usr/lib/python2.7/dist-packages/ulauncher/ext/notification.py:1: PyGIWarning: Notify was imported without specifying a version first. Use gi.require_version('Notify', '0.7') before import to ensure that the right version gets loaded.
  from gi.repository import Notify
/usr/lib/python2.7/dist-packages/ulauncher/ui/windows/Pre

[2017-08-28 17:58] gornostal commented on #156
Sorry for the delay.
Ulauncher doesn't work with Wayland.
I've recently tried that myself. There are multiple issues. Wayland incompatible Keybinder library is one of them.

I guess I should mention that somewhere

[2017-09-03 05:42] gornostal opened #157 "Ulauncher doesn't work in Wayland"
TODO:
* Wrap Keybinder calls in try-catch
* Find out if there are calls that make the app crash in Wayland
* Update Preferences to show a message that the user has to manually set app hot key via system preferences

[2017-09-03 05:44] gornostal commented on #156
Subscribe in #157 for Wayland issues updates.

[2017-09-03 05:44] #156 closed

[2017-09-03 05:45] gornostal commented on #155
Subscribe in #157 for Wayland issues updates.

[2017-09-03 05:45] #155 closed

[2017-09-03 05:46] gornostal commented on #153
Fixed in v3.1.1
https://ulauncher.io/#downloads

[2017-09-03 05:46] #153 closed

[2017-09-03 05:46] gornostal commented on #150
Fixed in v3.1.1
https://ulauncher.io/#downloads

[2017-09-03 05:46] #150 closed

[2017-09-03 05:48] gornostal commented on #142
@michael-n0813 please try the new version.

[2017-09-03 05:48] #142 closed

[2017-09-03 05:48] gornostal commented on #139
Fixed in v3.1.1
https://ulauncher.io/#Download

[2017-09-03 05:48] #139 closed

[2017-09-03 05:49] gornostal commented on #136
Implemented in v3.1.1
https://ulauncher.io/#Download

[2017-09-03 05:49] #136 closed

[2017-09-03 05:51] gornostal commented on #130
In v3.1.1 there is a new preference option that allows you to blacklist unwanted desktop dirs.
I've also added several items to the blacklist by default, so this issue should be resolved.

https://ulauncher.io/#Download

[2017-09-03 05:51] #130 closed

[2017-09-03 05:51] gornostal commented on #123
Done in v3.1.1
https://ulauncher.io/#Download

[2017-09-03 05:51] #123 closed

[2017-09-03 05:51] gornostal commented on #122
Fixed in v3.1.1
https://ulauncher.io/#Download

[2017-09-03 05:51] #122 closed

[2017-09-03 05:51] gornostal commented on #121
Done in v3.1.1
https://ulauncher.io/#Download

[2017-09-03 05:51] #121 closed

[2017-09-03 05:52] gornostal commented on #107
Fixed in v3.1.1
https://ulauncher.io/#Download

[2017-09-03 05:52] #107 closed

[2017-09-03 05:52] gornostal commented on #101
Fixed in v3.1.1
https://ulauncher.io/#Download

[2017-09-03 05:52] #101 closed

[2017-09-03 05:53] gornostal commented on #101
Fixed by re-implementing Preferences in Vue.js
Angular app would crash in Ubuntu 14.04.

[2017-09-03 05:53] gornostal commented on #89
Fixed in v3.1.1
https://ulauncher.io/#Download

[2017-09-03 05:53] #89 closed

[2017-09-03 06:05] sgreene570 commented on #139
Thank you!

[2017-09-03 08:41] michael-n0813 commented on #142
All good, thank you very much for your help.

[2017-09-04 04:49] gornostal opened #158 "Add more types of configuration options to extensions"
At least:

* checkbox
* option list

Add support validation rules using regex

[2017-09-04 04:52] gornostal opened #159 "Autoupdate extensions"

[2017-09-04 06:39] gornostal opened #160 "Option to send usage statistics"

[2017-09-08 15:25] jonhoo opened #161 "Weird placement in multi-monitor setup"
**Steps to reproduce:**
1. Have at least two monitors connected. In my case, the primary monitor is rotated 90°, so the layout is:
[code]
2. Launch `ulauncher`
3. Press Ctrl+Space with active desktop on primary monitor. Launcher dialog appears in correct location.
4. Switch active desktop to secondary monitor. Press Ctrl+Space, launcher dialog appears on *primary* screen, but with with and height

[2017-09-09 06:41] gornostal commented on #161
Interesting...
I have two monitors myself but I don't see issues like this.
I'll try to find a monitor that can be rotated.

Thanks for reporting the bug.

[2017-09-12 14:43] jonhoo commented on #161
I just realized this may be related to https://github.com/kupferlauncher/kupfer/issues/74, a similar issue I've had with another launcher, which we believe is ultimately is caused by https://github.com/xmonad/xmonad/issues/5. This might therefore not be ulauncher's fault.

[2017-09-12 16:04] gornostal commented on #161
Since steps to reproduce cannot be correctly defined I'm closing this issue.
Please reopen if needed

[2017-09-12 16:17] jonhoo commented on #161
@gornostal I'm not entirely sure what you mean? Are you saying that you cannot reproduce with a similar setup?

[2017-09-12 16:20] gornostal commented on #161
I guess I didn't pay attention to what xmonad is...

[2017-09-12 16:34] gornostal commented on #161
Let's keep it open so other xmonad/Ulauncher users can see it.
I looked through xmonad/xmonad#5. Seems like no one knows how to fix id. There is no workaround also.

[2017-09-15 06:30] uu-myheart opened #162 "Switch to application if it's already running"
When i've opened terminal in ubuntu and i couldn't switch to that terminal again using albert, it just reopen a new terminal.

Any plans to add this feature?

[2017-09-15 06:39] gornostal commented on #162
Hi,
I'm not sure what you mean.
Could you describe step by step what you do please?

[2017-09-15 07:07] uu-myheart commented on #162
Sorry,
When I opend a window such as chrome, and I switch to another window,  then I open launcher and type chrome and press ENTER, can ulauncer switch to chrome and not to open a new chrome window?

[2017-09-15 07:23] gornostal commented on #162
Ah, I see.
I'm not planing to implement this feature, as the main idea of Ulauncher is to launch new instances of applications.
Maybe someone will write an extension though.

For the use case that you described I use `Alt`+`Tab`.

---

As I was writing this I thought it may be a useful feature if you could configure Ulauncher to show a list of running apps by default, so you will switch between th

[2017-09-15 08:00] uu-myheart commented on #162
Thank you

[2017-09-17 13:27] gornostal opened #163 "Shortcuts are saved with 'undefined' as ID"

[2017-09-17 13:29] gornostal commented on #163
Fixed in dev

[2017-09-19 06:50] gornostal opened #164 "Save relative path for shortcut icons"
Icon path should be relative to a user home -- either begin ~, so config files can be transferable.

[2017-09-25 17:50] gornostal commented on #163
Hotfixed in master and dev

[2017-09-25 17:50] #163 closed

[2017-09-26 07:39] nexlinux opened #166 "Unable to switch to Light Theme, Enabling Notification Icon Crashes (V3.1.2r2)"
**Steps to reproduce:**
When
**Ulauncher V3.1.2r2**:
**Q4OS Linux Orion - (Debian Jessie)**:
**Desktop - Trinity*:

Error 1: unable to switch to Light Theme
Error 2: Clicking the "Show Icon Indicator" on-off-on  Crashes Ulauncher

------------------
Terminal --> Konsole --> $ ulauncher -v

[last.log](https://github.com/Ulauncher/Ulauncher/files/1332155/last.log)

================================
a

[2017-09-26 07:41] nexlinux commented on #166
Tested (V3.1.2r2) on Debian 9 Stretch KDE Desktop - No Problems.
More than 4 Shortcuts worked on both Q4OS Linux Orion (Jessie) and Stretch KDE.

[2017-09-30 18:18] gornostal commented on #164
Fixed in v3.2.0

[2017-09-30 18:18] #164 closed

[2017-09-30 18:21] gornostal commented on #166
@nexlinux,
Ulauncher v3.2.0 is being built now.

I made some changes in code that saves preferences. Please let me know if the issue with switching themes still exists in v.3.2.0
I've also fixed an app crash when switching indicator on/off.

Reopen if needed.

[2017-09-30 18:21] #166 closed

[2017-10-03 05:46] nortmas opened #169 "Problem with reading shortcuts configs. There are no shortcuts found in preferences."
**Steps to reproduce:**
Open Ulauncher preferences, shortcuts section. There are no shortcuts found. However, in settings I see many shortcuts:

[code]

**Ulauncher version**: v3.2.0r1
**Linux distro**: Ubuntu 14.04
**Desktop environment**: Unity

**Logs**:

[https://gist.github.com/nortmas/541bb40cca3efc0819d1b527c1cea45b](https://gist.github.com/nortmas/541bb40cca3efc0819d1b527c1cea45b)

[2017-10-05 17:34] krizajb commented on #135
Hmm, would you be so nice and make a rpm or maybe make a detailed instructions where to get all required libs to build this for centos7?

[2017-10-09 16:11] CottonEaster opened #170 "Ulauncher preferences are a blank window within a VM; workaround?"
**Steps to reproduce:**
Install Mint 18.2 in a virtual machine, via VirtualBox, in Windows 8.1.
Install ulauncher.
Try to access ulauncher's preferences.

**Ulauncher version**: 3.1.2rc
**Linux distro**: Mint 18.2
**Desktop environment**: Cinnamon

**Logs**:
[Here](https://gist.github.com/CottonEaster/31aa0ffd13041ac4b9d6381330342a80).

I tried the [fix on this page](https://unix.stackexchange.com

[2017-10-15 04:44] nortmas opened #171 "Posibility to add settings fields for custom extensions"
I'm creating an extension for  [cacher](https://www.cacher.io/) And I need to add settings fields like API Key and Token to connect extension to user account in cacher. But there is no way do it.

[2017-10-15 06:37] gornostal commented on #171
Custom extension settings would be a useful feature indeed. I'll add it with the next release.

[2017-10-15 06:41] gornostal commented on #169
Interesting. Did you copy the JSON above from `~/.config/ulauncher/shortcuts.json`?

[2017-10-15 06:57] nortmas commented on #171
Perfect! thx!

[2017-10-15 07:02] nortmas commented on #169
Yep, exactly form that place.
BTW I have to laptops. One has Ubuntu 14.04 and another Ubuntu 16.04.
For Ubuntu 16.04 everything works perfectly.

[2017-10-15 07:06] gornostal commented on #169
Ah, I see the problem. Will fix it soon

[2017-10-15 07:30] gornostal commented on #170
Hi,
Sorry for the delay.
All the preferences are in `~/.config/ulauncher`, but let's try to fix the issue first.

Looks like you've got two issues with Ulauncher,
One with pyinotify, which can be fixed using [this](https://github.com/Ulauncher/Ulauncher/issues/51) guide.
And another with preferences window being blank.

I've tried to run Ulauncher v3.1.2 on Mint 17.2 and preferences opened fine.
C

[2017-10-15 08:54] gornostal commented on #169
Fixed in v3.2.1

[2017-10-15 08:54] #169 closed

[2017-10-15 09:00] gornostal opened #172 "Q4OS Trinity desktop crashes Ulauncher when "Show Indicator Icon" is cycled on-off-on"
Q4OS Trinity desktop still crashes Ulauncher when "Show Indicator Icon" is cycled on-off-on which must be a conflict in Q4OS as this works okay on Debian 9 KDE Plazma.

Previous post on Q4OS is also with v3.2.0.r1 installed.

**Steps to reproduce:**
* Install Q4OS
* Run Ulauncher
* Open Ulauncher preferences
* Click "Show Indicator Icon"

**Ulauncher version**: v3.2.0.r1
**Linux distro**: Q4OS
**D

[2017-10-15 09:01] gornostal commented on #172
@nexlinux created a Github issue for you.
I'll look into it when I have time.

[2017-10-15 21:29] returnnihil opened #173 "Unable to save preferences if ULauncher is running and "Show Indicator Icon" button has been checked"
**Steps to reproduce:**
1. Open ULauncher
2. Open Settings menu
3. Verify "Show Indicator Icon" is checked and the notification appears in the notification area
4. Change any preference
5. Exit the window

Your preference will be valid until you restart ULauncher, so it's like it's recognizing the change somewhere, but your preference modification does not saved to the `settings.json` file.

If yo

[2017-10-15 22:26] CottonEaster commented on #170
Thanks.

I applied the pyinotify fix, and then renamed the config file, then installed the new version of Ulauncher, then rebooted. Result: preferences window is still blank. By the way: the preference window works fine on my _real_ editions - not virtual - of Mint.

[2017-10-16 10:05] gornostal commented on #170
I tried to reproduce exactly as you described, except VBox is running on Linux in my case.
v3.1.2 and v3.2.1 works fine.

I'm not sure what I can do here. According to the logs you get "Segmentation fault" error, which doesn't tell much about a cause.

You could try different guest OS unless you must use Mint.

[2017-10-16 11:04] gornostal commented on #173
Try installing `notification-daemon`
If that helps, I'll add it to the dependencies
Normally it's installed with a DE.

[2017-10-16 13:49] CottonEaster commented on #170
I think I'll edit the preferences manually. Thanks for the efforts that you did make to get to the bottom of the problem. (Also: I wonder whether themes might be playing a role . .)

[2017-10-16 14:42] gornostal commented on #170
No problem.
I'll leave this bug open for some time. Maybe someone else is having the same issue too

[2017-10-17 17:18] gornostal opened #174 "Shortcut cannot be saved without an image"

[2017-10-22 21:43] suberb commented on #100
Make sure no app is using ALT+SPACE. Open ULauncher Preferences. Map keys to **Alt+Super L** (the order is important) and exit ULauncher. Then, edit *settings.json* in `home/user/.config/ulauncher` and change *Super L* to *space*. You should have sth like this: `"hotkey-show-app": "<Alt>space"`. Save & launch ULauncher.

[2017-10-30 16:41] Cediddi commented on #101
I just saw this. Great work on switching to a lighter framework.

[2017-11-01 10:23] Netroxen opened #175 "Option for smaller 'minimized' version"
I find the search box far too large, it would be nice to have an option to scale the size of the interface.

[2017-11-01 18:25] kensully opened #176 "preferences dialog error"
First of all congrats on your project. I am on Ubuntu 16.04 32  bit platform. I cloned this repository and ran `sudo pip install -r ./requirements.txt` then `sudo python ./setup.py install --prefix=/usr/local --root=/`; I had to add `--root=/` parameter otherwise I get `AttributeError: 'NoneType' object has no attribute 'startswith'` error.
I launched application but when I try to open `preference

[2017-11-01 19:39] gornostal commented on #176
Thanks @kensully

Have you followed guided on installing documented in README?
https://github.com/Ulauncher/Ulauncher#build-and-run

It looks like you haven't built preferences UI, which is in JS.

[2017-11-01 20:13] kensully commented on #176
@gornostal it's my bad. Thank you for your help.
Regards.

[2017-11-01 20:13] #176 closed

[2017-11-02 17:57] TheMartes commented on #162
@gornostal I will really appreaciate this feature in upcoming updated. :) Because if i'm working on multiple workspaces, it will be easer to open ulauncher and type name of app, that find correct worksprace where i left this app, and than `Alt`+`Tab`

[2017-11-02 18:15] gornostal commented on #162
@TheMartes that's a good use case. Thanks.

[2017-11-04 09:53] aero31aero commented on #162
A suggestion: Use <kbd>Alt</kbd> + <kbd>Enter</kbd> for trying to switch instead of launching new instance?

[2017-11-04 21:52] suberb opened #177 "ULauncher randomly loses its extensions"
It happens. From time to time. I have to Copy / Paste all the extensions all over again & again in Preferences. Replacing ~/.config/ulauncher/extensions.json doesn't help, and Ulauncher doesn't seem to see what's inside.
PS. It was before I changed the theme :wink: #178

[2017-11-04 22:19] suberb opened #178 "Request: new theme based on original themes"
I've changed Light theme a bit so it matches my desktop but it'll go away with an update. Could you please make an option for a custom theme?
![screenshot from 2017-11-04 23-29-37](https://user-images.githubusercontent.com/24309060/32410027-0ef2867e-c1b8-11e7-98a7-2a70be347800.png)

[2017-11-05 07:01] gornostal commented on #178
Hi @suberb

This looks neat. I really appreciate your interest in Ulauncher design.
In my plans was to hire a designer who will refresh the design and maybe add a few more themes.

All suggestions from users (including yours) will be taken into account.

[2017-11-05 07:03] gornostal commented on #175
Thanks for the suggestion.
I'll see what we can do about the size when we'll be refreshing the current design

[2017-11-05 07:10] gornostal commented on #177
So you're adding extensions using URLs from ext.ulauncher.io and then they disappear after Ulauncher restart?
If you could share more details that would be great.

I'll look into this nonetheless.

[2017-11-05 11:05] suberb commented on #177
Ha! I've nailed the evil: BleachBit. Non-root.

Here's what's been deleted:
[code]

Ok, now that I know what cause this, I have a question: is it possible to make Ulauncher cache independent? Or maybe make Ulauncher to rebuild cache after cleaning?

The answer I wrote earlier with my workflow:

[2017-11-05 11:17] suberb commented on #178
Thank you @gornostal :heart_eyes:

[2017-11-05 14:57] gornostal commented on #177
I also think Ulauncher should work like that.
I'll add this to my list of enhancements.

[2017-11-11 19:12] LaBatata101 opened #179 "Open directory in file manager"
How do I open a directory in the file manager?

[2017-11-11 19:15] gornostal commented on #179
1. Select directory with arrow up/down keys
2. Press <kbd>Alt</kbd> + <kbd>Enter</kbd>
3. Choose "Open folder" option

[2017-11-11 19:15] #179 closed

[2017-11-14 16:55] douglasrizzo opened #180 "ULauncher fails to start on Ubuntu Gnome 17.10"
I had ULauncher installed on Ubuntu Gnome 17.04. After updating to Ubuntu Gnome 17.10, ULauncher did not start automatically or manually. I reinstalled it since then, but this did not fix the problem.

**Steps to reproduce:**
1. Download the ULauncher `deb` file from the website;
2. Install it on Ubuntu Gnome 17.10;
3. Launch the application.

**Ulauncher version**: v3.2.1.r1
**Linux distro**: Ubu

[2017-11-14 19:04] gornostal commented on #180
Thanks for reporting. I'll look into this.

Are you on Wayland, btw?

You can check that with
[code]

[2017-11-15 02:08] douglasrizzo commented on #180
Yeah, it's `wayland`.

[2017-11-15 10:00] gornostal commented on #180
I see. Ulauncher doesn't support Wayland currently.
Please subscribe to #157 to get a notification when this is implemented.

I'm closing this one as a duplicate

[2017-11-15 10:00] #180 closed

[2017-11-24 15:01] HorlogeSkynet commented on #177
Hi over here,

Thanks for this issue, I was about to creating one about _BleachBit_ too...

Why not placing the extension in the `~/.config/` directory (as long as their preferences) instead of rebuilding the cache ? Would it be such a bad idea ?

Bye 👋

[2017-12-09 01:47] sathishkumar-in opened #181 "Error starting ulauncher in Ubuntu 17.10"
**Steps to reproduce:**
in console,
**ulauncher**

**Ulauncher version**: 3.2.1.r1
**Linux distro**: Ubuntu 17.10
**Desktop environment**: Gnome(default)

**Logs**:
[Ulauncher Error log](https://gist.github.com/sathishkumar-in/ef189e4f68136332fc2dc4233c0c7897)

[2017-12-09 06:33] gornostal commented on #181
If you are using Wayland (default in 17.10) instead of X11, Ulauncher won't start.
I'm working on the fix. Hopefully will release it soon

[2017-12-09 06:33] gornostal commented on #181
you can check if it's Wayland or not with this command `echo $XDG_SESSION_DESKTOP`

[2017-12-09 17:09] gornostal commented on #173
Closing due to no response. Please reopen if needed

[2017-12-09 17:09] #173 closed

[2017-12-09 22:56] sathishkumar-in commented on #181
I did that. It says ubuntu
echo $XDG_SESSION_DESKTOP
ubuntu

[2017-12-10 07:06] gornostal commented on #181
Oops, wrong name. It should be $XDG_SESSION_TYPE
But don't bother, it's definitely Wayland and I already have a fix. Will roll out the release soon

[2017-12-10 12:34] gornostal commented on #135
Hi guys,
if you could look at [setup.cfg](https://github.com/Ulauncher/Ulauncher/blob/dev/setup.cfg) and provide a similar list of package names for Centos, I would really appreciate that.

Once I have that I think I should be able to automate RPM builds for Centos.

[2017-12-10 13:17] gornostal opened #182 "Add shadow to the preference window"

[2017-12-10 13:51] #182 closed

[2017-12-10 13:53] gornostal opened #183 "Hotkey doesn't work in Wayland when is triggered from certain apps"
For example, when I press <kbd>Ctrl</kbd> <kbd>Space</kbd> when in Ubuntu terminal, Ulauncher app won't show up.
However, the hotkey works fine when triggered from Firefox.

I think this has something to do with Ulauncher running in XWayland mode.

[2017-12-10 13:54] gornostal commented on #157
Fixed in dev release 3.3.0.r0

[2017-12-10 13:55] gornostal commented on #181
Fixed in dev release [3.3.0.r0](https://github.com/Ulauncher/Ulauncher/releases/tag/3.3.0.r0)

[2017-12-16 12:40] gornostal commented on #171
Hi,
I was wondering, can't you store API Key in a field of type "input"?

[2017-12-16 13:10] gornostal opened #184 "Add new ext. preference field: options"

[2017-12-17 06:31] nortmas commented on #171
Hey, yes, why not, I don't see any obstructions.

[2017-12-18 02:30] CottonEaster opened #185 "Bug / feature request: enable Ulauncher to work properly as soon as started"
**Steps to reproduce:**
Launch Ulauncher for the first time in a session and immediately try to use it. Result (on my computer, anyway): only a couple of the index items are available. To find what I want, I have to wait a few seconds, close the search box, reopen it, and retype my query.

**Ulauncher version**: 3.2.1r1
**Linux distro**: Mint 18.3 x64
**Desktop environment**: Cinnamon

**Logs**:

[2017-12-18 21:12] gornostal commented on #185
That's actually in my list of improvements.
Please follow issue #154.
I'm closing this as a duplicate.

Thanks

[2017-12-18 21:12] #185 closed

[2017-12-19 10:32] ervoiox opened #186 "Update rpm dependency to webkitgtk4 or bundle webkitgtk3?"
In Fedora 27, webkitgtk3 has been retired due to the number of security vulnerabilities it has.

 Is it possible to update the rpm build to support webkitgtk4 or bundle webkitgtk3?

https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/7APAJVWLKRJWNLIW2N4SOGL2JOOYLW5N/

[2017-12-19 20:47] jzuijlek commented on #157
I still get a segmentation fault in Ubuntu 17.10 with 3.3.0.rc0.

[code]

[2017-12-19 20:57] gornostal commented on #157
@jzuijlek thanks for the logs. I'll try to reproduce the issue over the weekends and hopefully fix it. I'll let you know about the results

[2017-12-20 13:09] noam09 commented on #157
@jzuijlek, do you also get the error if you try assigning a hotkey that doesn't include `<Primary>`, `<Super>` or `<Space>`? For example `<Alt> + g`.
In my case, combinations using `<Super>` have to be pressed multiple times to work. I just use `<Alt>` instead.

[2017-12-22 23:31] markmandel opened #187 "Up down arrows skip results in Gnome + Xmonad"
As you can see below, when I use the arrow keys, it skips an item.

![ezgif com-crop](https://user-images.githubusercontent.com/298370/34314727-b4282822-e72b-11e7-8726-9d2259bdbaa8.gif)

I can work around it with the alt keys, but it would be nice if it worked :smile:

I'll keep playing with it, see if I can work out what the issue might be.

**Steps to reproduce:**
Install ULauncher (via deb)

**

[2017-12-24 08:09] gornostal commented on #186
I think it is possible to use webkitgtk4.
I'll add that to the next release

[2017-12-24 09:13] gornostal commented on #187
Hi @markmandel

Thanks for reporting this issue.
I've tried to reproduce it, but unfortunately I cannot log in to Gnome + Xmonad session. For some reason it drops me back to a log in screen when I choose that combination and enter password. I'm not sure how to fix that.

Unity or Xmonad (w/o Gnome) Ulauncher 3.2.1 works fine for me.

I'm not sure how to help you with this. Maybe if you could send

[2017-12-24 09:29] gornostal commented on #157
@jzuijlek there are still a few issues with running Ulauncher in Wayland

1. You have to run it with `GDK_BACKEND=x11` env var. When you run the app from Ubuntu Activities launcher, it will run it correctly because that env var is in the .desktop file. If you'd like to start the app from command line you can do that like this: `$ GDK_BACKEND=x11 ulauncher -v`
2. App hotkey doesn't work while some

[2017-12-25 21:12] EtienneBruines opened #188 "Hide ulauncher from systray"
It'd be nice if ulauncher would could be "hidden" from the systray. (Possibly even exit after selecting an app, but I guess that comes with a huge performance cost.)

Reason for this: I solely use keyboard shortcuts to prompt it, and it's just being ignored in the systray.

This could either be done in the settings, or perhaps as a console-flag when starting (e.g. `--no-systray`)

I'd love to be a

[2017-12-26 18:21] gornostal commented on #188
Sorry, what is a systray? :)

You can enable/disable indicator icon from preferences, but I guess that's not what you a looking.

[2017-12-26 18:28] EtienneBruines commented on #188
Wow, that was what I was looking for.Oops. On Dec 26, 2017 19:21, Aleksandr Gornostal <notifications@github.com> wrote:Sorry, what is a systray? :)
You can enable/disable indicator icon from preferences, but I guess that's not what you a looking.

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-12-26 18:30] #188 closed

[2017-12-30 14:48] dotmagic commented on #17
Ulauncher already sucessfull ported to python 3?
I see this issue closed the the archlinux package still depends on python 2 :/

[2017-12-30 14:59] gornostal commented on #17
I've started working on this, but then discovered that not all distros that I want to support have packages that Ulauncher depends on.
So choosing between running on Python 3 or supporting a wider range of distros I chose the latter.

[2018-01-02 11:40] andrej-zirko commented on #162
This feature is actually the only reason I keep using Kupfer. It's my most frequently used feature. Kupfer is the only launcher for Linux I know that does it right. You can change default action per app, whether to create new instance or switch to existing one. I keep lot of windows open and Kupfer is so much more convenient, than alt + tab. Nevertheless I keep an eye on modern launchers, which wo

[2018-01-02 13:09] ZaLiTHkA opened #189 "Nothing listed in Ulauncher popup"
**Steps to reproduce:**
Unsure, I just installed and launched it... How it's launched (at startup or manually) makes no difference to this behaviour.

The steps I followed for the logging output gist I've linked below is as follows:

1. launched with `ulauncher -v`
1. activated with <kbd>ctrl</kbd>+<kbd>space</kbd>
1. entered `file`

The problem is that I don't have *anything* in the launcher list

[2018-01-04 13:56] gutierri opened #190 "super + space not working"
**Steps to reproduce:**
Open settings window, change <kbd>CTRL + SPACE</kbd> to <kbd>SUPER (Windows key) + SPACE</kbd>

**Ulauncher version**: 3.2.1.r1
**Linux distro**: Linux Mint 18.3
**Desktop environment**: Cinnamon

**Logs**:

[Gist](https://gist.github.com/gutierri/5a1b7db3be5819846fbe935f350c4a0e)

[2018-01-04 20:00] gornostal commented on #189
Found this in the logs:
[code]
Looks like you have incorrect permissions for `~/.config/ulauncher`.
Please fix permissions
[code]

[2018-01-04 20:00] gornostal commented on #189
Please reopen if needed

[2018-01-04 20:00] #189 closed

[2018-01-04 20:06] gornostal commented on #190
Hi
Could you click "New issue" again, copy the contents of the text area into this issue, and fill in the required items (like steps to reproduce, environment, logs, etc)?

[2018-01-06 01:48] gutierri commented on #190
@gornostal A strange behavior is that for several attempts he even detected the shortcut. I believe that somehow it is necessary to overwrite the current CINNAMON shortcut

[2018-01-08 06:44] ZaLiTHkA commented on #189
Thanks @gornostal, only just saw your replies.. I'll check the permissions when I get home this evening.

I installed this from the PPA as per the instructions on the main website, so I wouldn't have thought permissions would be an issue.. Doesn't this point to an issue in the installation process then?

[2018-01-09 06:14] gornostal commented on #189
I doubt that's the case because `~/.config/ulauncher` is created after installation. When you run the app for the first time.
Ulauncher could not possibly create that dir with wrong permissions unless it was ran from a different user.

[2018-01-09 06:23] ZaLiTHkA commented on #189
Yeah, that makes sense.. I'm running the same OS on my laptop and I didn't have this problem there, but I have had other weird permission-related issues on my desktop machine over the past few months, not sure what's going on with that.

Either way, thanks for the info. (:

[2018-01-09 06:49] gornostal opened #191 "Allow executing shortcuts without specifying an argument"
This enhancement requires changes in Preferences UI and in Python code.

**Technical details**
* In UI, add a new checkbox "Run without arguments" under "Default search" checkbox
* In Python code save that flag to the ShortcutsDb
* When user selects a shortcut from the result list and it has "Run without arguments" flag checked, run the action

[2018-01-09 16:40] AffableZonkey commented on #186
Thanks! - came here to open issue - but see you are already working on it.

[2018-01-13 20:01] ghost opened #192 "Update or Add extension Unexpected API error. InvalidGithubUrlError:"
**Steps to reproduce:**
Try to add or Update an extension

**Ulauncher version**:
3.2.1.r1

**Linux distro**:
Arch Rolling

**Desktop environment**:
KDE Plasma 5

**Logs**
https://gist.github.com/MBuchaus/46f26c1be33e7f086c47cb63ba953249#file-ulauncher-api

[2018-01-14 07:58] gornostal commented on #192
What extension are you trying to update?

[2018-01-14 08:58] gornostal opened #193 "Remove support for Ubuntu 17.04"

[2018-01-14 17:26] MBuchaus commented on #192
I get this same error updating any of the preinstalled extensions or adding any from the extension page from the .io site..  I did get them installed a few days ago   update check and all worked for a bit   then it went back to the same behavior.  I need to dig into it more    cause that sounds like it could be networking  but I've seen no other problems hitting git hub etc..    strange....

[2018-01-14 20:21] gornostal commented on #171
It's funny, although I wrote that, now I'm not sure what exactly is missing in Ulauncher Ext. API to have custom settings fields.
You can already have an input or text field.

Could you clarify what you mean by "Possibility to add settings fields"?

[2018-01-14 20:50] gornostal commented on #192
I've verified that extension install/update works on v3.2.1.r1
It really looks like something with your system.
I'm closing this issue.

[2018-01-14 21:04] gornostal commented on #172
@nexlinux I've tried to reproduce with q4os-2.4-x64.r5 and Ulauncher v3.2.0.r1, but wasn't able to.
When cycling on-off "Show Indicator Icon" everything works fine for me.

Closing this issue. Please reopen if needed.

[2018-01-14 21:04] #172 closed

[2018-01-14 21:05] gornostal opened #194 "Updated docs with steps to create custom themes"

[2018-01-15 00:29] MBuchaus commented on #192
Could I be missing a library?  ARCH is python 3 based  but ulauncher is python2

2018-01-14 18:26:31,233 | ERROR | ulauncher.api.server.ExtensionDownloader: get_new_version() | gh_ext.get_ext_meta() failed. HTTPError:
2018-01-14 18:26:31,233 | ERROR | ulauncher.ui.windows.PreferencesUlauncherDialog: on_scheme_callback() | Unexpected API error. InvalidGithubUrlError: Project is not available on Git

[2018-01-15 04:27] gornostal commented on #192
Ulauncher has python2 in its dependencies.

Try this:
Open Python2 REPL by running this command in terminal: `python2`
Please run it from the user you run Ulauncher.

Then run the following code in the REPL:

[code]

This is where the error occurs. If it works, then the bug is in Ulauncher somewhere.

[2018-01-15 05:46] gornostal commented on #56
Sorry, I'm closing this because it is now possible to implement this feature using Extension API.
Also I want Ulauncher to have less amount of code so it's easier to maintain it.

[2018-01-15 05:46] #56 closed

[2018-01-15 06:05] gornostal commented on #190
I've just checked, currently it's not possible to use <kbd>Win</kbd> key in hotkey.
Apparently it's a reserved in most of the DEs.

[2018-01-15 06:05] #190 closed

[2018-01-15 06:10] gornostal commented on #170
I'm closing this issue because it doesn't seem like a Ulauncher bug. I've tested it on multiple different distros and DEs in VBox.

BTW, you might try installing dev release from ulauncher.io. There was a fix for Wayland protocol. Maybe that helps.

[2018-01-15 06:10] #170 closed

[2018-01-15 15:04] MBuchaus commented on #192
I'm getting a forbidden response from the urllib

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.7/urllib2.py", line 154, in urlopen
    return opener.open(url, data, timeout)
  File "/usr/lib/python2.7/urllib2.py", line 435, in open
    response = meth(req, response)
  File "/usr/lib/python2.7/urllib2.py", line 548, in http_response
    'http', r

[2018-01-15 15:16] gornostal commented on #192
Interesting.
Do you have a firewall?

[2018-01-15 15:21] MBuchaus commented on #192
Yes but
sudo iptables -nvL
Chain INPUT (policy ACCEPT 203 packets, 245K bytes)
 pkts bytes target     prot opt in     out     source               destination

Chain FORWARD (policy ACCEPT 0 packets, 0 bytes)
 pkts bytes target     prot opt in     out     source               destination

Chain OUTPUT (policy ACCEPT 44 packets, 40412 bytes)
 pkts bytes target     prot opt in     out     source

[2018-01-15 15:22] gornostal commented on #192
yeah, it definitely passes the firewall because you get HTTP response back with status 403

[2018-01-15 15:22] gornostal commented on #192
did you try to open that URL in a browser?

[2018-01-15 15:23] MBuchaus commented on #192
"message": "API rate limit exceeded for 64.53.153.18. (But here's the good news: Authenticated requests get a higher rate limit. Check out the documentation for more details.)",
  "documentation_url": "https://developer.github.com/v3/#rate-limiting"

[2018-01-15 15:23] MBuchaus commented on #192
and yep that's my ip

[2018-01-15 15:24] MBuchaus commented on #192
hmm  auth via the python urllib?

[2018-01-15 15:25] gornostal commented on #192
Looks like something on your PC made lot's of API requests to github
I don't think that could be Ulauncher. Maybe something else?

[2018-01-15 15:26] gornostal commented on #192
It should work without auth.

[2018-01-15 15:26] gornostal commented on #192
This can be not ONLY your IP.

Try using VPN maybe?

[2018-01-15 15:28] MBuchaus commented on #192
Most likely emacs Paradox (package-system) but I use and API key for that

it's the external Ip of my cable modem. yeah it's me..  I have services on dynamic dns comming in on it too

[2018-01-15 15:28] MBuchaus commented on #192
trying the vpn

[2018-01-15 15:31] MBuchaus commented on #192
Yeah using a differnt IP is allowing all the access..  I'll have to find out what service is banging on github.    thanks Gornostal  for the troubleshooting help

[2018-01-15 15:32] gornostal commented on #192
no problem

[2018-01-15 19:23] gornostal opened #195 "Update styles for Preferences"

[2018-01-18 05:12] lalitmee opened #196 "Searching for apps does't return any result. Black box around the window. gtk_main_quit: assertion 'main_loops != NULL' failed"
I don't know why this problem is occuring. But whenever I shutdown my laptop and then restart it. Ulauncher misbehaves and it looks something like this. And then if you will search for any application then it only shows those three shortcuts which are Google Search, Stackoverflow Search and Wikipedia Search.
![screenshot from 2018-01-18 10-41-35](https://user-images.githubusercontent.com/10762218/

[2018-01-18 05:19] gornostal commented on #196
Does the problem persist after restarting Ulauncher?

Could you check if there are more logs in `!/.cache/ulauncher_cache/last.log` and post them here please?

[2018-01-18 05:35] lalitmee commented on #196
Actually now I have reinstalled ulauncher and deleted all the cache of the ulauncher. I have to do this evertime. That's why I have not deleted the deb package of ulauncher from my system. I have to reinstall this evertime when I start my system.

After restarting, it was not showing any applications other that those shortcuts, but after sometime when I pressed hot key and then searched for the ap

[2018-01-18 05:50] gornostal commented on #196
I think I will be able to help you, but I need a new log file.
The one you attached doesn't have any output, because you ran `ulauncher -v` when it was already running.
You either have to copy `~/.cache/ulauncher_cache/last.log` once you restart the system or close the app and then run `ulauncher -v` (although from what you said in this case it'll be working fine)

[2018-01-18 06:02] lalitmee commented on #196
Ok, now I have updated the logs in that gist file. I again shutdown my laptop and this problem occured again. I don't know why.

But after exiting the ulauncher and then restart it. Now its black color is gone but it is not showing any application.

[2018-01-18 06:08] lalitmee commented on #196
[code]
This is the output.

[2018-01-18 06:12] gornostal commented on #196
Thanks.

Looks like GTK crashes.
Could you check `journalctl -ex` for gtk errors and post them here if any?

[2018-01-18 06:15] lalitmee commented on #196
There are some errors related to mysql, but I think those errors will not effect ulauncher. What do you think? Should I post here.

[2018-01-18 06:17] gornostal commented on #196
I think you are right about that.

This issue is not as trivial as I thought it would be.
I'll think about what we can try next

[2018-01-18 06:20] lalitmee commented on #196
Yeah. Actually I would like to tell you that I have added ulauncher in startup applications. Does that step creates any problem?
And when I exit the app and then restart it. Its working fine. :thinking:

[2018-01-18 06:38] gornostal commented on #196
No, it should not create any problem.
Did you add to startup applications, by checking "Launch at Login" in Ulauncher preferences?
That's the preferred and tested way.

[2018-01-18 06:39] lalitmee commented on #196
Ohh. Let me do that then.

[2018-01-18 06:39] gornostal commented on #196
You should undo what you did first.

[2018-01-18 06:42] lalitmee commented on #196
Actually "Launch at Login" is also checked. But now I have removed it from startup applications.

[2018-01-18 06:48] gornostal commented on #196
I could not think of anything else that would help me understand this issue better :(

BTW, why did you name this issue "Unexpected API error". Where do you see that error?

[2018-01-18 06:54] lalitmee commented on #196
Actually, when first time this error occured, I went to the ulauncher preferences and there I saw that nothing is showing and a line was written **Unexpected API Error**.
So I name it that way.

[2018-01-18 18:39] gornostal commented on #194
Done in v4.0.3

[2018-01-18 18:39] #194 closed

[2018-01-18 18:40] gornostal commented on #181
Fixed in stable release now

[2018-01-18 18:40] #181 closed

[2018-01-18 18:40] gornostal commented on #195
Done in v4.0.3

[2018-01-18 18:40] #195 closed

[2018-01-18 18:40] gornostal commented on #174
Done in v4.0.3

[2018-01-18 18:40] #174 closed

[2018-01-18 18:41] gornostal commented on #177
Done in v4.0.3

[2018-01-18 18:41] #177 closed

[2018-01-18 18:43] gornostal commented on #177
@HorlogeSkynet

Config for configs only, cache for everything else :)
They are not rebuilt if you don't clear ~/.cache

[2018-01-18 18:43] gornostal commented on #184
Done in v4

[2018-01-18 18:43] #184 closed

[2018-01-18 18:43] gornostal commented on #193
Done in v4

[2018-01-18 18:43] #193 closed

[2018-01-18 18:43] gornostal commented on #186
Done in v4.0.3

[2018-01-18 18:43] #186 closed

[2018-01-18 18:44] gornostal commented on #157
Done in v4

[2018-01-18 18:44] #157 closed

[2018-01-18 18:48] gornostal commented on #187
please reopen if needed

[2018-01-18 18:48] #187 closed

[2018-01-18 18:50] gornostal commented on #178
@suberb Check out Ulauncher v4. It brings exactly what you've requested :slightly_smiling_face:
https://ulauncher.io

[2018-01-18 18:50] #178 closed

[2018-01-18 18:51] gornostal commented on #175
Sorry, I've decided to not make sizes customizable.
There are some technical difficulties with that

[2018-01-18 18:51] #175 closed

[2018-01-18 18:51] gornostal commented on #171
please reopen if needed

[2018-01-18 18:51] #171 closed

[2018-01-18 18:53] gornostal commented on #158
option list is done in v4, checkbox I'm not planning to do for now

[2018-01-18 18:53] #158 closed

[2018-01-18 18:55] gornostal commented on #145
Sorry, I've decided to not change anything about icon selecting dialog.
I want to keep amount of code to the minimum so it's easier for me to maintain Ulauncher.

[2018-01-18 18:55] #145 closed

[2018-01-18 18:56] gornostal commented on #108
Sorry, I've decided to not have this feature built into the app.
However you can implement an extension

[2018-01-18 18:56] #108 closed

[2018-01-18 18:57] gornostal commented on #66
Done in Ulauncher v4

[2018-01-18 18:57] #66 closed

[2018-01-19 04:51] mikezila opened #197 "Crash on startup - KeyError: 'XDG_SESSION_TYPE'"
Ulauncher crashes on startup, with the following output:

[code]
**Steps to reproduce:**
Just try to run `ulauncher`.

**Ulauncher version**: 4.0.3.r0-1 from Arch AUR
**Linux distro**: Antergos/Arch running as a VMware Guest
**Desktop environment**: Openbox + Xorg

**Logs**:
There are no logs, as running `ulauncher -v` crashes the same way.

[2018-01-19 04:57] gornostal commented on #197
Hmm looks like there is no XDG_SESSION_TYPE in Openbox + Xorg.
I'll fix that

[2018-01-19 05:55] gornostal commented on #197
I made a fix in dev branch.
I don't have Openbox, so could you check if Ulauncher works now by installing dev version?

[code]

[2018-01-19 08:44] eremit commented on #183
I experience the same issue on a Fedora 27. Oddly I see the issue only on one of my machine, although I'm running the same setup.

[2018-01-19 11:12] kozec commented on #183
Considering that Wayland can't do hotkeys, it makes sense. Ulauncher running in XWayland should be able to grab hotkey over any other XWayland window, but as soon as Wayland window is activated, compositor sends keyboard events only to that window.

[2018-01-19 11:16] gornostal commented on #183
Thanks for this insight @kozec
Now it makes sense for me.
I'm in progress of fixing this issue by allowing user to set Ulauncher hotkey from OS Keyboard Settings.

I'm stuck on another issue. I cannot figure out why GTK in Wayland doesn't move app window to specified coordinates. Ulauncher always appears close to left top corner

[2018-01-19 11:41] beanaroo commented on #197
I can confirm the issue is resolved (in i3) in `ulauncher-git`. Thanks for the prompt response!

[2018-01-19 14:47] tosim91 opened #198 "Not working"
Am running Mint-MATE,18.3. Been using ulauncher successfully for several months. Now it does not launch. I uninstalled, then reinstalled 4030, from Software Manager, and still it does not open.
In home/owner/config/ulauncher/settings:
[code]
Any help greatly appreciated. Great program. Thank you

[2018-01-19 17:13] eremit commented on #183
@kozec thanks for the hint. I have checked on the device that is working and for whatever reason this was using the X.org session instead of Wayland.

[2018-01-19 17:35] cassidyjames opened #199 "Release on AppCenter"
This launcher looks pretty neat, and seems like it would fit into elementary OS well. You could release it to elementary OS users via AppCenter: https://developer.elementary.io/

[2018-01-19 20:13] gornostal commented on #199
Yeah, I was looking into that and decided to not distribute Ulauncher there.
The main reason is that packaging in Linux is far from easy and requires lots of work, especially when you are dealing with GTK app in Python 2.

All packages in AppCenter seems to be built with Vala. Maybe in that case it's easy to just follow the guidelines and publish app there.

Sorry, I'm closing this one

[2018-01-19 20:13] #199 closed

[2018-01-19 20:18] gornostal commented on #198
Hi,

When you click "New issue" there are guidelines on reporting bugs.
Could you update your description with proper info so I can help you with this issue?

Thanks

[2018-01-19 20:18] gornostal commented on #197
Cool. Thanks

[2018-01-20 09:58] philberndt opened #200 "Can't launch"
**Ulauncher version**: v4.0.3.r0
**Linux distro**: Arch Linux x86_64 4.14.13-1-ARCH
**Desktop environment**: Mate

I get the following error when trying to launch

[code]

[2018-01-20 10:00] gornostal commented on #200
duplicate of #197
Fixed in dev. I'll make a stable release now

[2018-01-20 10:03] philberndt commented on #200
Yes, dev is working just fine :1st_place_medal:

[2018-01-20 10:13] gornostal commented on #200
Fixed in stable release 4.0.4.r1

[2018-01-20 10:13] #200 closed

[2018-01-20 10:13] gornostal commented on #197
Fixed in stable release 4.0.4.r1

[2018-01-20 10:13] #197 closed

[2018-01-20 15:38] tosim91 commented on #198
Had an update this morning, to v.4.0.4.r1, and now working fine. Thanks for
the reply, however.

On Fri, Jan 19, 2018 at 1:18 PM, Aleksandr Gornostal <
notifications@github.com> wrote:

[2018-01-20 15:43] gornostal commented on #198
Good. Closing the issue

[2018-01-20 15:43] #198 closed

[2018-01-20 16:28] gornostal opened #201 "When "Clear Input on Hide" is unchecked select previous text in input when app is shown"

[2018-01-20 19:45] gornostal commented on #183
Okay, I think I put sufficient amount of time into this issue and still don't have a solution.

There is a workaround with assigning a hotkey from `OS Settings > Hardware > Keyboard` to run `ulauncher` command, but that adds a noticeable delay between hotkey is pressed and window is shown.

[2018-01-20 19:51] kozec commented on #183
AFAIK, this is not a bug, but feature from Wayland side. You could do something crazy, like gnome extension that registers hotkey in compositor and sends you signal through d-bus, but nothing will work universally right now.

[2018-01-20 19:58] gornostal commented on #183
hmm I didn't think of that. That should work.
Ulauncher already registers d-bus service and can accept method call to show itself.

gnome extension though... I don't really want to dig into that

[2018-01-20 21:54] kozec commented on #183
Interesting, I was not aware of that.

If that's the case, registering hotkey in that `Hardware > Keyboard` thing that "launches"

[code]

should work as well, and it will most likely be much faster than just starting `ulauncher`, as dbus-send binary is tiny.

Plus, it should work with KDE as well.

[2018-01-21 06:12] gornostal opened #202 "Trim spaces in shortcut keyword on save"

[2018-01-21 08:23] #202 closed

[2018-01-23 08:41] PierfrancescoArdino opened #203 "ulauncher exception on Wayland Gnome"
**Steps to reproduce:**
Run GDK_BACKEND=x11 ulauncher from command line

**Ulauncher version**: ulauncher-git
**Linux distro**: Arch Linux
**Desktop environment**: Gnome on Wayland

**Logs**:

[code]

[2018-01-23 08:51] PierfrancescoArdino commented on #203
Ulauncher works when set as startup application, the problem exists only when launched from CLI

[2018-01-23 14:39] CaptainQuirk opened #204 "Vim like navigation"
Hi there !

Could it be possible to navigate through the list with something else than the arrow keys ? Like `Ctrl-j/Ctrl-k` or `Ctrl-n/Ctrl-p` ?

Thanks

[2018-01-23 19:10] gornostal commented on #203
That's weird.
It looks as if you're already running an old version of the app, while trying to run `GDK_BACKEND=x11 ulauncher` from CLI. Could that be the case?

[2018-01-23 20:50] PierfrancescoArdino commented on #203
Well, I don't think so. I mean, I've removed the older version of the app before installing the newer one

[2018-01-24 07:05] gornostal commented on #203
[code]
This line is executed _only if_ Ulauncher is already running.
Could you check `ps` and if it's running, stop that instance?

[2018-01-24 07:59] PierfrancescoArdino commented on #203
Mmm yeah, you're right, probably I forgot to kill the process of the older instance even if I've removed it. Now it works without any problems, still I've some problems with the position of the launcher in the screen, but I will open another issue.

[2018-01-24 08:00] gornostal commented on #203
OK. Sure

[2018-01-24 08:00] #203 closed

[2018-01-24 08:07] PierfrancescoArdino opened #205 "Window position"
![screenshot from 2018-01-24 09-02-37](https://user-images.githubusercontent.com/9986725/35320856-9365a3b6-00e5-11e8-8aa7-efbc3d3a4b5a.png)

The position of the window seems wrong, moreover to write a command on the input field I've to first click on it.

I'm not 100% but it seems to happen after launching a second command. Before then, the widget seems to work as expected.

**Ulauncher version**:

[2018-01-24 08:10] gornostal commented on #205
could you attach logs please?

[2018-01-24 08:12] gornostal commented on #205
I've seen this issue only when `GDK_BACKEND` is set to `wayland` explicitly.

[2018-01-24 08:27] PierfrancescoArdino commented on #205
2018-01-24 09:19:55,863 | DEBUG | ulauncher.util.display: get_screens() |   Monitor 0 - X: 0, Y: 0, W: 1920, H: 1080
2018-01-24 09:19:55,864 | DEBUG | ulauncher.ui.windows.UlauncherWindow: show_results() | render 0 results
2018-01-24 09:20:02,366 | DEBUG | ulauncher.util.display: get_screens() | Found 1 monitor(s).
2018-01-24 09:20:02,367 | DEBUG | ulauncher.util.display: get_screens() |   Monitor

[2018-01-24 08:29] gornostal commented on #205
I actually need beginning of the log.

[2018-01-24 08:32] PierfrancescoArdino commented on #205
[code]

[2018-01-24 08:49] gornostal commented on #205
hmm nothing unusual

do you have file `~/.config/weston.ini`, if so could you post its content?

[2018-01-24 08:51] PierfrancescoArdino commented on #205
No, I'm not using weston as Wayland Compositor

[2018-01-24 08:54] gornostal commented on #205
The issue occurs when ulauncher is not running in X11 compatibility mode. GDK_BACKEND=x11 should have switched that on, but apparently it didn't. Hence weird positioning of the app.

I'll think what we can do...

[2018-01-24 23:14] mickael83 commented on #183
I am using Fedora 27, installed ULauncher v4.0.5.r1 and added the keyboard hotkey to run the command "ulauncher-toggle" like described [here](https://github.com/Ulauncher/Ulauncher/wiki/Hotkey-In-Wayland). It seems to work however when pressing the hot key above another app such as nautilus or google chrome, ulauncher does not gain focus which makes it unusable until I click on it.

[2018-01-25 06:19] gornostal commented on #183
Hmm, weird. It was working for me.
Could you send last 20 lines from `journalctl -ex` once you reproduce this
issue?

On Thu, Jan 25, 2018, 01:14 Michael Pinheiro <notifications@github.com>
wrote:

[2018-01-25 07:41] eremit commented on #183
@mickael83, @gornostal I'm also running a Fedora 27 and it works like a charm.

[2018-01-25 07:50] kozec commented on #183
My wild guess is that window still can't give itself focus in Wayland and @eremit is most still using X :)

[2018-01-25 07:53] eremit commented on #183
@kozec actually I'm not - I have checked back prior to adding up my comment.

[2018-01-25 07:57] gornostal commented on #183
@kozec That's why you have to install `wmctrl` as outlined on the [Wiki page](https://github.com/Ulauncher/Ulauncher/wiki/Hotkey-In-Wayland)

@mickael83 did you install it?

[2018-01-25 09:00] kozec commented on #183
@gornostal Interesting, I didn't know wmctrl works with Wayland. I would imagine it would work only as long as X11 window is active, so if Nautilus (GTK3/Wayland window ) has focus, X11 application can't take it away.

[2018-01-25 10:09] mickael83 commented on #183
@gornostal Indeed, I installed wmctrl as you can see below:

[code]

And the logs after the issue:
[code]

[2018-01-25 10:16] gornostal commented on #183
Nothing suspicious in the logs.

Try this:
* start ulauncher
* run `sleep 5 && wmctrl -a "Ulauncher window title"`
* then press hotkey, and see if Ulauncher window will get focus in 5 seconds

[2018-01-25 12:19] mickael83 commented on #183
@gornostal I made a [short screencast](https://youtu.be/LAxd8ZqA1PM) to demonstrate the issue and what happens when running the commands you told me.

[2018-01-25 17:06] eremit commented on #183
@mickael83 probably a stupid question, but did you stop the ulauncher instance after installing the new RPM?

[2018-01-25 19:58] BlackFireFox opened #206 "Question about the background listening"
Hi, how did you leave the program listening in the background for the shortcut?
I would need to know this because I'm writing a program that must always be hidden and when the shortcut is pressed a window appear.

[2018-01-25 20:38] gornostal commented on #183
@mickael83 thanks for the screencast. Looks like trick with sleep 5 works.

Let's try this, open ``sudo vi `which ulauncher-toggle` `` and insert `sleep 0.05` before `wmctrl` line.
You can try different sleep number, but it has to be as close to 0 as possible.
That's obviously a workaround. I'm not sure what else I can do to help you fix this issue.

My guess is that Ulauncher can't process `dbus-

[2018-01-25 20:43] gornostal commented on #204
I'm not going to do this. Sorry.

I want to keep amount of code to the minimum, so I can still maintain the app on my own without getting lost in all of the features.
I'm planning to add only features that are either absolutely necessary or affect majority of users.

[2018-01-25 20:43] #204 closed

[2018-01-25 20:48] gornostal commented on #206
Hi
I'm using Keybinder library for that. There is a binding for python that you can get by installing package `gir1.2-keybinder-3.0` (Debian) then you'll be able to import it from `gi.repository` module.
You can read more here https://lazka.github.io/pgi-docs/#Keybinder-3.0

Keep in mind that it doesn't work all the time in Wayland (see #183), which is getting more and more popular.

As an alterna

[2018-01-25 20:48] #206 closed

[2018-01-26 11:48] mickael83 commented on #183
Thanks @gornostal.. Your workaround solved the issue. I inserted `sleep 0.01` and it was enough to make it work.

Thanks again for your time!

[2018-01-26 19:44] CaptainQuirk commented on #204
Thanks for your response

[2018-01-28 02:15] beanaroo commented on #205
Not a Wayland user at the moment, but I've had this problem with other "pop-up" applications. Tilix and Tilda drop down terminal emulators, for example. gnunn1/tilix#494

[2018-01-28 07:40] gornostal commented on #183
@mickael83 cool :+1:

[2018-01-28 07:53] gornostal commented on #201
done in v4.0.6

[2018-01-28 08:14] gornostal commented on #205
@PierfrancescoArdino would it be possible for you to create a VBox image where you can reproduce the bug, and then send it to me?
Even then I'm not sure I will find a solution, but that would definitely be more efficient than trying different things via Github chat.

[2018-01-28 16:24] iboyperson opened #207 "Initially at boot applications do not show up in the menu"

[2018-01-28 18:19] gornostal commented on #207
Closing as a duplicate of #154.
Please subscribe to #154 if you want to receive a notification when the issue is fixed.

[2018-01-28 18:19] #207 closed

[2018-01-28 22:38] bashfulrobot opened #208 "snap package"
Hi there. Any interest in having this packaged up as a snap?

[2018-01-29 05:08] gornostal commented on #208
Hi

Initially I though about supporting Snap, Flatpack, AppImage, but now I don't see huge benefits from doing that, especially with Snap.

Pros:
* Some users would be happy to install Ulauncher without polluting system with additional packages

Cons:
* Snaps are only Ubuntu-friendly
* This will be yet another packaging to support since I'm not going to drop DEB and RPM
* App starts slower than us

[2018-01-29 05:08] #208 closed

[2018-01-29 22:02] Dmendoza99 commented on #48
@motangpuar in what file do you mean we should do that changes

[2018-01-30 09:21] PierfrancescoArdino commented on #205
Mmm not that sure (not enough free time) but I will try

[2018-01-31 20:44] gornostal commented on #208
BTW, I tried creating a snap package last year and got stuck with this bug https://bugs.launchpad.net/snapd/+bug/1661960
Looks like it's still unresolved :disappointed:

[2018-02-01 01:32] Lafriakh opened #209 "solus"
is there any way to install Ulaucher in Solus distro?

**Linux distro**: solus
**Desktop environment**: budgie

[2018-02-01 07:21] gornostal commented on #209
Unfortunately, no.
Solus has its own packaging system and neither DEB nor RPM packages are compatible with it.

[2018-02-01 07:21] #209 closed

[2018-02-01 09:17] ayanb1991 opened #210 "Launch at login 'disabled' in Linux Mint 18.3 XFCE"
**Steps to reproduce:**
Open Preference Dialog -> Launch at login 'disabled'.

**Ulauncher version**: v4.0.6.r1
**Linux distro**: Linux Mint 18.3 Sylvia 64 Bit
**Desktop environment**: XFCE

**Working fine on KDE (Linux Mint 18.3)**

[2018-02-01 09:22] gornostal commented on #210
I think I know why this is happening. Please try closing Preferences and opening them again. It should be enabled.

[2018-02-04 21:42] abdyek opened #211 "Black frame issue in Linux Mint 18.3"
I use Linux Mint 18.3
This black frame rarely be visible.
Current Ulauncher version: v3.2.1.r1

![screenshot](https://user-images.githubusercontent.com/16313808/35782507-0b28804e-0a0a-11e8-90e4-6b666fbf38a7.png)

[2018-02-05 07:32] gornostal commented on #211
@abdyek this usually occurs when compositor is disabled (see this [comment](https://github.com/Ulauncher/Ulauncher/issues/60#issuecomment-282560906))

BTW, you are using an old version of Ulauncher. Current is 4.0.6

[2018-02-05 07:32] #211 closed

[2018-02-06 06:49] ayanb1991 opened #212 "Ulauncher showed up with thick black border"
When auto started, ULauncher shows up with a thick black border.

**Steps to reproduce:**
1. Install ULauncher
2. Select "Launch At Login" from Preferences.
3. Logout & login again.
4. Press Ctrl + Enter

**Ulauncher version**: 4.0.6.r1
**Linux distro**: Linux Mint 18.3 Sylvia 64 Bit
**Desktop environment**:  KDE

![screenshot_20180206_121053](https://user-images.githubusercontent.com/14938120/358

[2018-02-06 06:53] gornostal commented on #212
Looks similar to #211

This bug usually occurs when compositor is disabled (see this [comment](https://github.com/Ulauncher/Ulauncher/issues/60#issuecomment-282560906))

[2018-02-06 06:55] gornostal commented on #212
I'll try to reproduce it myself with the specified OS and DE, and if issues like this occur with a default setup (w/o modifications to an installed os) this needs to be fixed in Ulauncher somehow.

[2018-02-06 10:45] ayanb1991 commented on #212
I checked in KDE settings. "Enable compositor on startup" is checked. That means compositor is running. I think it can be a situation where Ulauncher starts before the compositor starts up after login. If Ulauncher assure starting after host OS compositor startup then it may solve the issue.

[2018-02-09 15:47] SkyzohKey opened #214 "net.launchpad.ulauncher is not registered as a .service"
**Steps to reproduce:**
Type `ulauncher-toggle` in a terminal under Manjaro. Also returns the same as a hotkey.

**Ulauncher version**: v4.0.6.r1
**Linux distro**: Manjaro (GNOME) 17.1.3 x64 Linux
**Linux uname**: `Linux 4.14.16-1-MANJARO #1 SMP PREEMPT Wed Jan 31 2018 x86_64 GNU/Linux`
**Desktop environment**: GNOME 3.26.2

**Logs**:

[code]

**EDIT**: It does works when ulauncher is launched. No

[2018-02-09 16:24] pale2hall opened #215 "Super Key can't be used for launch shortcut, and other system shortcuts"
Hey there!

Awesome piece of software.

One issue:  On Mint 18 with Cinnamon, If I set the launch shortcut shortcut to the Left Super/Meta/Windows Key, ULauncher pops up before I release the key.

This prevents me from using combos like WIN-E to open the File Explorer, and WIN-LEFT, WIN-RIGHT to move windows around in cinnamon's window snapping, areo-like interface.

I know I shouldn't really be u

[2018-02-10 11:32] gornostal commented on #215
Hi

Maybe there is, but this isn't something I'm planning to include into Ulauncher. Sorry.

I really want to keep number of features to the minimum, and to only include very useful ones. The reason is I'm the only maintainer for now and more code means it's harder to maintain the software.

[2018-02-10 11:32] #215 closed

[2018-02-10 11:38] gornostal commented on #214
Yep. That's by design.

That is possible, but I'm not planning on doing that. Sorry.
A solution that I see is a bit hacky and I don't really want to include any workarounds into Ulauncher code unless they are very important.

[2018-02-10 11:38] #214 closed

[2018-02-10 11:44] gornostal commented on #212
Does that actually fix the issue for you?

p.s. My laptop got broken. I haven't yet looked into this. Will try to reproduce this issue sometime next week.

[2018-02-10 12:03] SkyzohKey commented on #214
This is very important because the user expect the app to be always here when it does press the keys. Your app is a productivity app. It needs to be accessible at any time. So it must be self healing :)

[2018-02-10 12:05] gornostal commented on #214
But you can enable "Launch at Login" in Preferences.
Or I don't understand your use case?

[2018-02-11 03:09] compilelife opened #216 "How to get preferences when writing my own extension?"
my manifest.json looks like:

[code]

How can I get the value of `locate_cmd` which is `-l 5` in my extension?

[2018-02-11 07:00] compilelife commented on #216
Sorry, I just found it in doc: http://docs.ulauncher.io/en/latest/extensions/events.html#preferencesevent

[2018-02-11 07:00] #216 closed

[2018-02-11 12:49] amitbha opened #217 "Migration to python3."
The End Of Life date for Python 2 is in 2020.
https://stackoverflow.com/questions/4836375/end-of-support-for-python-2-7

[2018-02-11 14:05] gornostal commented on #217
Yep. After dropping support for Ubuntu 14.04 this may be doable. I think.

[2018-02-11 17:34] erayerdin commented on #212
I think that should be the case because I do not get the thick black border when I start Ulauncher for the second time. My environment is on Xubuntu 16.04.

[2018-02-12 02:47] compilelife opened #218 "Failed to save preference"
**Steps to reproduce:**
1. open preference dialog
2. switch to extension tab
3. install any extension (https://github.com/chenjsa/kingsoft-dict in my case)
4. change keyword option to 'fy' and click save
5. close and reopen preference dialog, reviewing kingsoft-dict's keyword option
6. it's still 'ks' there...

**v4.0.6r1**:
**ubuntu 16.04**:
**unity**:

**Logs**: https://gist.github.com/compileli

[2018-02-12 05:13] ayanb1991 commented on #212
@erayerdin @gornostal Yup when I exit ULauncher and start it manually after login, the black border does not appear. Both in KDE & XFCE. I have tested it many times. It always happens when ULauncher auto starts after login.

[2018-02-13 05:19] zbron99 opened #219 "ULauncher does not allow Atom (text editor) to switch branches"
Atom Issue [#4982](https://github.com/atom/atom/issues/4982) can be caused by ULauncher.

**Steps to reproduce:**
Open ULauncher BEFORE atom after any system startup or login, and then try to switch branches on atom. Code and files will NOT update in atom. This will remain until you either log out or reboot. Vice versa, if you open atom BEFORE ULauncher, atom will update files correctly when switc

[2018-02-14 22:42] erayerdin commented on #212
Now, for those who want a quick dirty fix...

Since the issue happens when Ulauncher starts while desktop environment is loading, the trick is to get it started after a couple of seconds. So, I've written a bash script called `launch-ulauncher` as below:

	#!/usr/bin/env bash

	# You can tweak here.
	sleep 15
	ulauncher

I've put it under `/opt/scripts`. This is where I put my scripts and it is al

[2018-02-15 12:16] arikfr opened #220 "ULauncher doesn't get focus in Wayland"
I installed ULauncher on Fedora 27 and followed the instructions [here](https://github.com/Ulauncher/Ulauncher/wiki/Hotkey-In-Wayland) to setup the hotkey.

It works from everywhere, but 90% of the time the ULauncher window opens without keyboard focus.

Is this a known issue?

The instructions mention that you need to install `wmctrl`, which I have. Maybe there is some extra step to make ULaunche

[2018-02-15 12:43] gornostal commented on #220
Hi

Try this workaround https://github.com/Ulauncher/Ulauncher/issues/183#issuecomment-360592973
It's a known issue. I'll add this to the instructions later

[2018-02-15 12:54] arikfr commented on #220
Thanks! I updated the wiki page to link to this comment.

[2018-02-15 12:54] #220 closed

[2018-02-15 13:09] gornostal commented on #220
Thank you :+1:

[2018-02-15 17:11] MicroDroid opened #221 "Calculator's ^ operator does weird magic"
**Steps to reproduce:**
`2^8`

I expect the result to be 256, but I get 10.

**Ulauncher version**: 4.0.6r1
**Linux distro**: Arch Linux, latest everything
**Desktop environment**: xfce4

[2018-02-15 17:59] gornostal commented on #221
That's actually by design, but I see why that may be confusing

Calculator in Ulauncher just evaluates python expressions, and ^ is XOR in python.
For your case use `**`: x**y (x to the power y)

[2018-02-16 12:08] MicroDroid commented on #221
Ah I see, that was confusing for a while since the launcher I used before treated ^ as a power operator

[2018-02-16 12:08] #221 closed

[2018-02-16 16:30] Zerocchi commented on #210
Not OP, but I'm running the similar version of Ulauncher and similar DE (XFCE), just different distro which is Xubuntu. I tried closing Preference and opening it again, but the option is still disabled. Tried running with `sudo`, and the option is finally enabled. The problem when running with `sudo` is I will getting an error like this when I'm trying to open Ulauncher without `sudo`

`OSError: [

[2018-02-18 17:00] leinardi opened #222 "Ulauncher doesn't get focus when started manually if already running"
**Steps to reproduce:**
Make sure that Ulauncher is already running (icon indicator present) and start Ulauncher manually, either executing `ulauncher` form a virtual terminal or creating a DE shortcut that executes `ulauncher`.

**Ulauncher version**: 4.0.6.r1
**Linux distro**: Ubuntu 17.10
**Desktop environment**: Gnome Shell (xorg)

**Logs**:

first start: https://gist.github.com/leinardi/4b8d5

[2018-02-18 17:09] leinardi commented on #222
I just find out that the workaround for Wayland hotkey works also for me, but I just want to clarify that I am NOT using Wayland (since I game I cannot use it).

I also had to add the sleep delay to get it to work, the stock ulauncher-toggle was not enough.

[2018-02-18 17:10] gornostal commented on #222
Hi

What do you mean it doesn't work? That's a bug then. Let's fix it

[2018-02-18 17:11] gornostal commented on #222
Yes, workaround for Wayland will work in your case.
But ulauncher should hotkey should work without any issues in Ubuntu 17.10

[2018-02-18 17:14] leinardi commented on #222
Hey thanks for the answer, unfortunately you had already another issue open for this `Super+Space` and last time you found out that is not possible to use it since is reserved by the DE: https://github.com/Ulauncher/Ulauncher/issues/190#issuecomment-357590491

But if you are willing to try again, I am happy to help as much as I can, just tell me what should I do.

[2018-02-18 17:18] gornostal commented on #222
Oh, `Super+Space`. I misread, thought you mean `Ctrl+Space`.
Well then Wayland approach should work for your.

[2018-02-18 17:23] gornostal commented on #222
No idea, really.

[2018-02-20 18:45] swarupsro commented on #212
same problem faced in ubuntu 16.04.3 LTS :-1:

[2018-02-23 03:21] kevinwung commented on #205
Will this program run on Windows?

[2018-02-25 11:24] janchk commented on #205
@kevinwung No. It's made for Linux. For Windows you must search for alternatives.

[2018-02-27 16:19] dainguyenhuu commented on #219
Sound like a perm thing to me. Maybe your Atom used to run on sudo but ULancher isn't?

[2018-02-27 18:10] feimosi opened #223 "Google search opens in Chromium instead of Chrome"
I've got both Chrome Canary and Chromium installed. The former is set as a default browser, but still Ulauncher opens search results in Chromium. Is there any way to set the path explicitly?

![image](https://user-images.githubusercontent.com/5721520/36746073-b50f8a5a-1bf1-11e8-8971-b63076271c1d.png)

**Steps to reproduce:**
Ctrl + Space
`g test`

**Ulauncher version**: 4.0.6.r1
**Linux distro**:

[2018-02-28 07:52] gornostal commented on #223
Ulauncher uses `xdg-open` under the hood to open URL.
I don't know why it ignores user settings. I'd suggest to look into how that command works.

[2018-02-28 10:36] feimosi commented on #223
You were right, `xdg-open` looks for the `BROWSER` env, I've set it explicitly and it works fine now.

By the way, is there a possibility to define custom searches without writing an extension? E.g. for YouTube, DuckDuckGo etc.? If not, could you give some reference to how Google search is implemented?

[2018-02-28 11:01] gornostal commented on #223
As for custom searches, check out Shortcuts in Preferences.
And Yes, you can add those without having to write an extension

[2018-02-28 11:01] #223 closed

[2018-02-28 11:16] feimosi commented on #223
Awesome, thanks!

[2018-03-03 02:14] mbirth commented on #82
This seems still to happen in 4.0.6.r1 (on Ubuntu 17.10) but in another part:

[code]

[2018-03-03 13:40] ulukyn commented on #82
Easy fix for the issue (works for me)
file : ulauncher/util/desktop/reader.py line 24

[code]

[2018-03-03 13:43] mbirth commented on #82
I fixed it differently for me (same file):

[code]

[2018-03-04 20:19] aljelly commented on #199
Just a note, AppCenter apps don't have to be coded in Vala:

[Source](https://medium.com/elementaryos/so-you-wanna-publish-on-appcenter-12c675b56e1c#aec2)

[2018-03-16 23:36] avently commented on #212
@gornostal  seems like this black border added because app uses shadow. Maybe you can add an option in settings to disable such shadow because many people use i3 or similiar WM without any compositor running. So it will impossible to hide the border in that situation.
P.S. Я один из таких людей и эта фича будет очень полезна :)

[2018-03-18 12:02] Warmuser opened #224 "More settings and useful functions.. Tips for possible requests!"
Hi, I'm really amazed from your app, and it works perfectly on my Arch+GNOME Distro. Anyway I would like to suggest you new options. I need this but I think there are really useful also to other users too. So, I hope you appreciate my ideas:

- A setting to keep always the uLauncher bar on the desktop (without to press CTRL+SPACE everytime).
- Two settings to make visible the uLauncher bar always

[2018-03-19 10:16] gornostal commented on #212
@avently could you try overriding shadow in custom color theme? `box-shadow: none` should work I believe.

[2018-03-19 13:15] avently commented on #212
@gornostal  I tried it. Shadow disappeared with compositor,  yes,  but black border did not without compositor. So without compositor it does nothing

[2018-03-19 19:10] abdulkadirazm opened #225 "Conflict port with pgAdmin4"
**Steps to reproduce:**
_your steps to reproduce here_

**Ulauncher version**: v4.0.6.r1
**Linux distro**: Ubuntu 17.10
**Desktop environment**: GNOME Shell 3.26.2

**Logs**:

_To get the logs please do the following:_
_* Close the app_
_* Run "ulauncher -v" from the console_
_* Copy output to https://gist.github.com/_
_* Link to the gist here_

https://gist.github.com/abdulkadirazm/51d55db42d23e7

[2018-03-20 09:30] gornostal commented on #225
Ulauncher binds on port 5050 by default, but if it's already taken it will bind on ports from 5001 to 5100.
Looking at your logs, Ulauncher took port 5001, which is expected since you started pgAdmin4 before the app.
However, app hotkey should work fine. I've just tried that myself.

[2018-03-20 09:31] gornostal commented on #225
Could you try to use different hotkey?
Just so we can tell whether this is an issue with Ctrl+Space or with any hotkey.

[2018-03-20 13:32] abdulkadirazm commented on #225
I tried to use different hotkey. "Shift + Space" does not work either. "Alt + U" either. Can you check the conflicts? Or how can I change the default ports.

[2018-03-20 13:36] gornostal commented on #225
I double-checked the code, port has nothing to do with the hotkey.
I'll think about what else we can do here to find the root cause of the hotkey issue.

[2018-03-20 22:35] sematula opened #226 "Show on key release"
This isn't a problem so much as it's a question ... is there a way to configure ulauncher to appear when the bound key is _released_? I'd like to keep my use of the super key consistent across OSs, which means SUPER is used to launch applications, while SUPER+ arrow keys moves windows around the desktop.

Thanks in advance.

[2018-03-22 16:49] homerrowsky commented on #187
I also have this issue in Ubuntu Mate 16.04 with ulauncher 4.0.6.r1.

By the way, Excellent work!

[2018-03-23 02:53] djwf commented on #135
@gornostal: FYI, applying the following patch allowed me to build a package that installed successfully on centos7.

[code]

Hope that helps!

[2018-03-24 18:38] unique1o1 opened #227 "A way to only search specific folders and not search hidden folders"
Currently, the launcher searches for every directory and manually typing every directory not to search is really frustrating. There should be a way to only search specific folders and also not search hidden folders.

[2018-03-25 09:42] arr0n commented on #222
I have had this issue before (needing to preform the shortcut twice) when using super+space with other launchers (maybe this one too but can't remember), can i ask if in your ubuntu keyboard shortcuts if 'Switch to next input source' is still set to super+space?

[2018-03-25 09:59] arr0n commented on #222
also the fix for focus grabbing worked for me too, editing ulauncher-toggle and putting a sleep in ( sleep 0.01 && wmctrl -a "Ulauncher window title" ) and relaunching ulauncher

[2018-03-25 10:21] leinardi commented on #222
Hi @arr0n, no I changed "Switch to next input source" to a different shortcut.

[2018-03-26 14:32] derkomai commented on #210
Same issue here under elementary OS Loki.

[2018-03-27 18:32] unique1o1 commented on #54
Hi, I just made a super simple extension for ulauncher for finding definition/ synonym for word.
[ulauncher-SearchDefination](https://github.com/unique1o1/ulauncher-SearchDefinition)

_Currently it doesn't support external sources like wikipedia_

[2018-03-29 03:31] kfirba commented on #135
@Pshemas @gornostal Hey.

I'm trying to figure out how can I install ULauncher on Centos and can't figure this out. Can you please share the steps you took to do it?

Thanks!

[2018-03-30 13:39] Shuunen commented on #205
@gornostal here a VM https://drive.google.com/open?id=1HYWNuyrfFvO5ftUSaPXUmqu5lQEzY8lG

It's a Linux Mint with ulauncher_4.0.6.r1_all.deb installed & failling

[2018-03-30 13:41] gornostal commented on #205
Perfect. Thanks a lot @Shuunen

[2018-03-30 13:49] Shuunen commented on #205
[code]

[2018-03-30 13:51] gornostal commented on #205
BTW, what username and root password should I use?

[2018-03-30 13:52] Shuunen commented on #205
user/pass : chou/chou

[2018-03-30 13:55] Shuunen commented on #205
Just purge uninstall uLauncher that I installed via deb & installed it via ppa :
[code]

Same error on opening pref window

[2018-03-30 14:06] Shuunen commented on #205
Ok I did rollback the VM to fresh install state to install uLauncher 4, because in the last state I had uLauncher

Here is what I just did :

[code]

And it's working even with the same errors logged...

[2018-03-30 18:09] gornostal commented on #205
Nothing I can think of. I was trying to reinstall it on your VBox, but Preferences window still won't open.

@Shuunen did you say you were able to reproduce the issue with positioning of the main window as described by @PierfrancescoArdino?
If so, could you tell how?

[2018-03-30 18:26] gornostal commented on #226
Unfortunately, it's not possible in the current version.

I gave it a thought, and decided I'm not going to add this feature because it requires a lot of changes.

Currently my goal for Ulauncher is to reduce the amount the new code to the minimum, so I can keep up with bug fixes and support on my own.

[2018-03-30 18:51] gornostal commented on #135
@djwf It doesn't work for me.
The following packages cannot be found: python2-pyxdg, libappindicator-gtk3, python-Levenshtein.
I'm running Centos 7 with Linux 3.10.0 on my VirtualBox.

@kfirba there are no steps yet. Sorry

[2018-03-30 18:52] gornostal commented on #135
@djwf could you attach an RPM file please?

[2018-03-30 18:55] gornostal commented on #54
@unique1o1 looks great :+1:

[2018-03-30 19:01] gornostal commented on #210
You are seeing a disabled checkbox because you've probably just started Ulauncher application and now it's trying to find itself among installed apps so it can then add itself to the autostart.

I know, this is not the best UX but I just wanted to give you some insight on why you may not be able to tick that checkbox.
If you close Preferences window and open it 10-60 seconds later, you should be a

[2018-03-30 19:09] gornostal commented on #227
What do you mean by search?
Ulauncher doesn't have search.

Could you specify what do you type in exactly, what's actual and expected result, please?

[2018-03-30 19:14] gornostal commented on #225
You can try hard-coding a different port by editing `ExtensionServer.py`. You can find it with `locate ExtensionServer.py` for example.

It's on the line 47.

Please let me know if that works for you. I don't have any other ideas as to how to fix this issue.

[2018-03-30 20:11] gornostal commented on #224
Hi,
Thanks :slightly_smiling_face:
That's really nice to hear.

I've read all your suggestions and I think they open up many cool use cases that go beyond simple app launcher.
However, I want to keep Ulauncher to be a simple launcher. The main reason is that I want to be able to maintain and support the app on my own, and it's possible only if I keep the scope of the app the minimum.

I'm going to

[2018-03-30 20:11] #224 closed

[2018-03-30 20:15] gornostal commented on #219
That may also be due to [inotify watch limit](#51). You can follow that link to check how to fix that.

Please let me know if this issue is still actual for you.

[2018-03-30 21:42] abdulkadirazm commented on #225
Yeah! This works for me. I changed the port to 5001. Application works fine and also hot key too. Thanks a lot. Have a nice working day

[2018-03-31 07:20] gornostal commented on #225
I was hoping it won't work, actually :)
Now we don't have neither a permanent fix nor a cause of the issue.
You'll have to make that change every time Ulauncher is updated.

I've installed Ubuntu 17.10, Ulauncher 4.0.6, and pgAdmin4 and it works for me. Weird.

[2018-03-31 07:58] gornostal commented on #82
Thanks for the fix :+1:

[2018-03-31 11:51] Shuunen commented on #205
I did not have issue with window positioning, the issue I got was with Preferences window, then after reboot I also had the black thick corner around uLauncher.

@gornostal If you prefer, I can a new issue

[2018-04-01 05:00] gornostal commented on #205
@Shuunen please create a new issue for Preferences window if it's still actual for you.
It was resolved by reinstalling Ulauncher v4, wasn't it?

[2018-04-02 00:12] Shuunen commented on #205
@gornostal no the problem was still there after un-install & re-install, I switched to XFCE desktop now and no problem appearing for now.

[2018-04-03 01:50] djwf commented on #135
@gornostal The file is attached.  Note that I'm running kernel 4.15, although I've also been able to use the same patch on a system running 3.10.

[ulauncher_4.0.6.r1_centos7.rpm.tar.gz](https://github.com/Ulauncher/Ulauncher/files/1869919/ulauncher_4.0.6.r1_centos7.rpm.tar.gz)

[2018-04-04 06:46] gornostal commented on #212
I was able to reproduce and fix the issue.
Issue occurs when compositor starts after Ulauncher.
Guys, could you try v4.0.7.r4 (Dev) and if it works for you I'll add the fix to a stable release?

[2018-04-04 08:52] avently commented on #212
@gornostal should this fix also work for systems without compositor? If yes, for me it doesn't work without compositor. Black border still here.

[2018-04-04 11:02] gornostal commented on #212
@avently not, it should not.

[2018-04-04 11:10] avently commented on #212
@gornostal ok, i can confirm the fix work when system has compositor.
I tried to make it work without compositor but i couldn't find any piece of code that changed the behaviour of that black frame. Maybe you know what can help in my situation? Why that black space exists? No margins, no padding...

[2018-04-06 06:55] gornostal opened #229 "Ulauncher conflicts with Maximized by Default extension on GNOME 3.28"

[2018-04-06 06:55] gornostal commented on #224
Created a separate issue for that #229

[2018-04-06 06:59] gornostal opened #230 "Add support for environments without a compositor"
check out this comment https://github.com/Ulauncher/Ulauncher/issues/212#issuecomment-378580674

Please give this issue a :+1: if it's important for you

----

If you decide to implement this enhancement, try doing that in as few code changes as possible.
I would probably try to detect an absence of compositor once Ulauncher starts and then remove the shadows from the window. Maybe there's a bette

[2018-04-06 06:59] gornostal commented on #212
I'll add a task to implement that to my list, but that's not a priority. JSYK.
Created a separate ticket for that #230

[2018-04-06 07:00] gornostal commented on #212
Thanks for testing the build, btw.
I'm going to make a stable release over the weekends.

[2018-04-06 07:04] gornostal commented on #135
@djwf Thanks for the file, but it doesn't work for me

![screenshot from 2018-04-06 10 03 33](https://user-images.githubusercontent.com/1202543/38407367-d2fb2576-3981-11e8-9c9d-267d56fc92e8.png)

Did I do something wrong?

[2018-04-06 07:08] gornostal opened #231 "Preferences window won't open on Linux Mint"
_(originally posted [here](https://github.com/Ulauncher/Ulauncher/issues/205#issuecomment-377526194))_

Here is a VM https://drive.google.com/open?id=1HYWNuyrfFvO5ftUSaPXUmqu5lQEzY8lG

It's a Linux Mint with ulauncher_4.0.6.r1_all.deb installed & failling

user/pass : chou/chou

launching uLauncher is working, but opening the pref window is... pretty weird

[2018-04-06 07:10] gornostal commented on #231
@Shuunen I've created a separate issue for this bug.
I've looked into it, but I don't have any idea what causes that or how to fix the bug.

[2018-04-06 07:27] gornostal commented on #212
@avently haha :)

In the best case scenario I need about one hour to make that fix and then do a release.
Because I must test it in 3-5 Virtual Boxes, and then manually do a release (my automation got broken because of Travis CI I guess)

But I don't think that fix will work for both GTK+ 3.18 and 3.22. So that's why I'm skeptical about simplicity of the fix. I think it may require more work.

[2018-04-07 08:12] gornostal commented on #225
I've decided to change the default port to 5054.
This change was added to release v4.0.7.r5

[2018-04-07 08:12] #225 closed

[2018-04-07 08:13] gornostal commented on #212
The fix was released with Ulauncher v4.0.7.r5
https://github.com/Ulauncher/Ulauncher/releases/tag/4.0.7.r5

Please reopen if needed.

[2018-04-07 08:14] gornostal commented on #218
Thanks to @jetbug123 for the fix. It was released with Ulauncher v4.0.7.r5
https://github.com/Ulauncher/Ulauncher/releases/tag/4.0.7.r5

Please reopen if needed.

[2018-04-07 08:14] #218 closed

[2018-04-07 08:15] gornostal commented on #82
The was released with Ulauncher v4.0.7.r5
https://github.com/Ulauncher/Ulauncher/releases/tag/4.0.7.r5

Please reopen if needed.

[2018-04-07 08:15] #82 closed

[2018-04-07 18:56] FreshJR07 opened #232 "Improve fuzzy search"
If I type in fire into the search I get the following results:

1) Files
2) Firefox
3) Font Viewer

Why is a direct match below a partial match??

--

Side question, is there anyway to enable simultaneous directory & app search?

[2018-04-07 20:15] gornostal commented on #232
About fuzzy search, that's a valid point.
I know it sometimes shows results in an unexpected order. That's because my algorithm is not perfect.
I'll add this to the list of improvements.

I'm afraid it's currently not possible. Ulauncher doesn't have directory search -- it has a directory browser. That means I'm not indexing files on your computer.

I don't want to change anything about that, beca

[2018-04-08 07:35] leinardi opened #233 "Add support to Ubuntu 18.04 `bionic` to the official launchpad PPA"
Please consider supporting the newer version on Ubuntu even before the stable release, this way users can do some test for you and maybe find new bugs on these releases before the official launch.

`bionic` will be released in 18 days, it would be nice to add support for it:

![image](https://user-images.githubusercontent.com/273338/38464570-173101f4-3b10-11e8-94fc-6b4432715e2e.png)

[2018-04-10 09:02] ayanb1991 commented on #212
Yeah! Updated and tested on same platform and the issue is gone. Thanks.

[2018-04-12 00:33] djwf commented on #135
I checked all three of those packages (the errors from above), and they all are in the EPEL repository.  Do you have that enabled on your CentOS system?

[2018-04-13 07:38] gornostal commented on #135
Apparently I didn't not have EPEL repo enabled.
It worked after I installed `sudo yum install epel-release`!

[2018-04-22 03:46] yh2664 commented on #162
This will be an awesome feature to have!

[2018-04-24 17:56] rohitchormale commented on #231
Strangely it is working for me. Any scenario to reproduce ? I tested on Mint 18.3

[2018-04-24 23:19] erayerdin opened #234 "AttributeError: 'unicode' object has no attribute 'get'"
# Steps to reproduce (Extension Tab)

1. Go to `ULauncher Preferences`.
2. Click `Extensions` tab.
3. BOOM! You get the error. Have a warm existential crisis at the corner.

![image](https://user-images.githubusercontent.com/2399084/39218600-339f50ea-482e-11e8-8c90-b11888a120e4.png)

# Steps to reproduce (Add Extension dialog)

1. Go to `Ulauncher Preferences` again.
2. Click `Extensions` tab. (Yo

[2018-04-27 11:29] SolarAquarion opened #235 "Build Failure"
**Steps to reproduce:**
 python2 setup.py build

**Linux distro**: Arch
**Desktop environment**: LXQt

[code]

[2018-04-29 18:25] gornostal commented on #235
Hi,
If you are trying to build for Arch, please use PKGBUILD from [ulauncher-git on AUR](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=ulauncher-git)

I've never tried running `python2 setup.py build` nor I know what the end result of that should be. Sorry.

[2018-04-29 19:04] gornostal commented on #234
Hi,

Sorry for the delay. I tried to reproduce, but I wasn't able to.
Apparently extension was installed incorrectly or files were corrupted.

Could you follow these steps please?

1. Quit Ulauncher
1. Remove it from your `~/.cache/ulauncher_cache/` dir
1. Start Ulauncher
1. Wait a minute so Ulauncher will download extensions
1. Install extension that you linked

[2018-04-29 19:12] SolarAquarion commented on #235
Even "python2 setup.py" doesn't work

On Sun, Apr 29, 2018 at 2:25 PM, Aleksandr Gornostal <
notifications@github.com> wrote:

[2018-04-29 19:15] SolarAquarion commented on #235
python2 setup.py
Traceback (most recent call last):
  File "setup.py", line 150, in <module>
    cmdclass={'install': InstallAndUpdateDataDirectory}
  File "/usr/lib/python2.7/site-packages/DistUtilsExtra/auto.py", line 98, in setup
    __requires(attrs, src_all)
  File "/usr/lib/python2.7/site-packages/DistUtilsExtra/auto.py", line 471, in __requires
    __add_imports(imports, s, attrs)
  File "/

[2018-04-29 19:24] gornostal commented on #235
Could you make sure you have gtk3 package installed?

Since you are running LXQt DE, you may not have GTK3.
I guess I should have that as an explicit dependency in PKGBUILD file.

[2018-04-29 19:26] SolarAquarion commented on #235
I have GTK3 properly installed

local/gtk3-ubuntu 3.22.28+74+gcc967849f7-2
    GObject-based multi-platform toolkit

On Sun, Apr 29, 2018 at 3:24 PM, Aleksandr Gornostal <
notifications@github.com> wrote:

[2018-04-29 19:29] gornostal commented on #235
Hmm... It definitely looks like a dependency issue. I don't know that else can it be.

[2018-04-29 19:35] SolarAquarion commented on #235
raceback (most recent call last):
  File "setup.py", line 150, in <module>
    cmdclass={'install': InstallAndUpdateDataDirectory}
  File "/usr/lib/python2.7/site-packages/DistUtilsExtra/auto.py", line 98,
in setup
    __requires(attrs, src_all)
  File "/usr/lib/python2.7/site-packages/DistUtilsExtra/auto.py", line 471,
in __requires
    __add_imports(imports, s, attrs)
  File "/usr/lib/python2.7/

[2018-04-30 15:44] erayerdin commented on #234
Okay, so, removing `~/.cache/ulauncher_cache/` directory completely oddly solved the issue. I've run the application with `--verbose` flag.

[code]

Actually, I've discovered that once I've thought to create an extension for Ulauncher and I've installed it (a couple of months ago maybe) and completely forgotten about it. I've seen error about it in logs (not the logs above). So probably, it is cau

[2018-05-01 12:07] gornostal commented on #235
Why I think it's a dependency problem is because Gdk object should have Window attribute (that's what the message says).
In your case it doesn't have that. So I assumed GTK+ library was installed incorrectly or something.

[2018-05-01 12:09] gornostal commented on #234
It's good you were able to resolve the issue.
Closing it now.

[2018-05-01 12:09] #234 closed

[2018-05-01 14:28] gornostal commented on #135
Done. You can now get Ulauncher for CentOS 7 from https://ulauncher.io

[2018-05-01 14:28] #135 closed

[2018-05-01 14:29] gornostal commented on #233
Done.

[2018-05-01 14:29] #233 closed

[2018-05-08 05:40] uncertainquark opened #236 "Autofocus URL bar popup on clicking "Add Extension""
It will be natural to focus the URL bar popup when "Add Extension" action is clicked.

![screenshot from 2018-05-08 11-09-25](https://user-images.githubusercontent.com/22585732/39739768-535671d4-52b0-11e8-9b20-0839d50f70b3.png)

[2018-05-08 05:44] moonmehta opened #237 "Autopaste text from the clipboard for "Add Extension" URL popup"
It is highly likely that when a user clicks the "Add Extension" button, they have the URL of the extension copied to the clipboard. This is because its the only way to install extensions anyway! It would be a good idea to autopaste the clipboard content into the URL bar on popup **if text in clipboard starts with `https://github.com`**

![screenshot from 2018-05-08 11-14-25](https://user-images.gi

[2018-05-08 07:45] gornostal commented on #237
Thanks for the suggestions @uncertainquark

[2018-05-08 07:46] gornostal commented on #237
Thanks for the suggestions @uncertainquark

[2018-05-10 19:08] JustPerfection opened #238 "Recommendation: Show favorite apps"
I want to have all of my favorite apps that pined on GNOME shell. I want to use it instead of "Show frequent apps". Is there any tweak that I can do to achieve that? or can you add it to the next update?

[2018-05-12 15:28] gornostal commented on #238
Sorry, I'm going to have to close this issue because I'm not planning to implement this feature. And there is no workaround to display favorite apps in the current version of Ulauncher.

I want to keep the app simple so it's easier for me to maintain and support it. I'm now focusing on improving existing features rather than adding new ones.

[2018-05-12 15:28] #238 closed

[2018-05-13 03:37] wallace11 opened #239 "PreferencesUpdateEvent won't announce on multiple changes"
**Steps to reproduce:**

1. Create a `manifest.json` with 2 or more `input` type preferences.
2. Set initial value → Save.
3. Subscribe to `PreferencesUpdateEvent`.
3. Go to settings and update both values → Save.
4. Announced event contains only the first change.

Here's the code I used:
[code]
 `manifest.json` contains two fields: `id1` and `id2`.
Initial values: `{'id1': 'A', 'id2': 'B'}`
Log o

[2018-05-13 04:37] gornostal commented on #239
Thanks for reporting this bug. I'll look into it

[2018-05-13 14:17] gornostal commented on #239
Fixed in 4.0.8.r1. Please reopen if needed

[2018-05-13 14:17] #239 closed

[2018-05-15 14:50] CottonEaster opened #240 "Launcher does not appear on first press of keyboard shortcut"
**Steps to reproduce:**
Set ulaucher to use <ctrl-[something]> as its shortcut. (Using other modifier keys does not produce the problem.)

**Ulauncher version**: 4.0.8r1
**Linux distro**: Mint 18.3
**Desktop environment**: Cinnamon

**Logs**:

https://gist.github.com/CottonEaster/6b91654c77f6602196d934f8a3c8f9b6

**Note**: The problem may be caused by, or may itself be causing, a strange situation

[2018-05-15 14:53] CottonEaster commented on #240
Oh; the problem with ulauncher's shortcut was owing to an OS setting - that I'd enabled to try to diagnose my strange keyboard problem - to 'show the pointer when ctrl is pressed'. Apologies.

[2018-05-15 14:53] #240 closed

[2018-05-26 10:51] KakolIsSomewhatGay opened #241 "Ulauncher not displaying applications if launched manually"
*(If launched manually)* Ulauncher will not display applications in results even though it is able to access `~/.local/share/applications` and `/usr/share/applications`. Is this intended?

**Steps to reproduce:**
Install using ppa (stable)
Start the application via the Dash

**Ulauncher version**: 4.0.8.r1
**Linux distro**: Ubuntu
**Desktop environment**: Unity

[Term Gist](https://gist.github.com

[2018-05-26 13:28] KakolIsSomewhatGay commented on #241
After fiddling with CCSM to get unity to default to factory settings Ulauncher is now displaying applications. Don't exactly know what I did that got it working though

[2018-05-27 14:04] gornostal commented on #241
@KakolIsSomewhatGay

App indexing takes some time. I have an issue for that (#154).
If you wait for a minute or two, does it still show no apps?

Option is greyed out due to the same reason -- Ulauncher has to find itself among other apps to be able to add its .desktop file to autostart.

I understand this is not the best UX. I'm planning to fix that.

[2018-05-30 11:47] pablingas opened #242 "when follows mouse focus is acivated in xfce, box dissapears"
writing g for google search, if mouse cursor is under ulauncher box dissapears

Ulauncher version v4.0.8r1
Ubuntu Xenial 16.04
Xfce 4.12

[code]

[2018-06-01 14:04] rmassidda opened #243 "ValueError exception (LinuxMint)"
**Steps to reproduce:**
Pressing any key raises a ValueError exception.

**Ulauncher version**: ulauncher 4.0.8.r1
**Linux distro**: Linux Mint 18.2 Sonya x86_64
**Desktop environment**: Cinnamon 3.4.6

**Logs**:
https://gist.github.com/rmassidda/bfa5558f72013668d2c78af7b1e0ffd4
(first exception after line 188)

[2018-06-01 17:23] KakolIsSomewhatGay commented on #241
@gornostal

Apologises for the slow response, I don't check my github very often.
Ulauncher does eventually index all applications on my system however it takes quite a while, I'd say around 10-ish minutes. Even once indexing is finished the autostart checkbox is still greyed out.

Although index caching could help the issue I think it would be more future-proof to make the indexing faster, result

[2018-06-02 15:10] brpaz opened #244 "Get preferences object on extension __init__ method"
Hello.
I am building an extension where I need to get access to the extension preferences in the "init" method of the Extension.
But the preferences object is always empty there. I understood that the preferences are initialized later and  the "PreferencesEvent" is triggered when that happens. But I couldn't find a way to listen to that event in my extension, only the "PreferencesUpdatedEvent" whi

[2018-06-03 10:21] CottonEaster opened #245 "Ulauncher has stopped displaying a Wine application"
**Steps to reproduce:**
Uncertain - for previously the Wine program at issue, namely the installable (as against portable) version of Lucas Chess - was locatable within Ulauncher.

**Ulauncher version**: 4.0.8.r1
**Linux distro**: Mint 18.3
**Desktop environment**: Cinnamon

**Logs**:

https://gist.github.com/CottonEaster/7185aaeb10d31289e1bcfb2e07a73173

NB: uninstall unlauncher (`sudo apt purge

[2018-06-03 17:55] brpaz commented on #244
well, I discovered the search plugin does what I want and I manage to get it working. Dont know why it wasn't working before

[2018-06-03 17:55] #244 closed

[2018-06-03 18:01] brpaz opened #246 "scrolling on RenderResultListAction"
**RenderResultListAction** seems to be limited in terms on visible number of items (maybe its related to screen height)

I think it would be nice to implement scrolling in the list. So lets say we define a max height of the results list, and if has more results, it will allow the user to scroll. That way, not only it looks prettier but also allow more complex workflows.

What do you think?

[2018-06-06 08:18] rmassidda commented on #243
_shortcuts.json_ inside _~/.config/ulancher/_ was damaged, deleting it resolved the issue.

[2018-06-07 07:19] gornostal commented on #243
Hmm.. I wonder how that could happen?
Do you have steps to reproduce that broken shortcuts.json?

[2018-06-08 04:56] gornostal commented on #244
Apologies for the delay. I checked the code and I don't see a way to get preferences in the `__init__`.
The earliest you can get preferences is with `PreferencesEvent`

[2018-06-08 05:17] gornostal commented on #245
Did you get that log after reinstalling Ulauncher?
Could you post contents of the Wine program's .desktop file? You can locate it by launching with Ulauncher and then checking the logs. You will see something like `Run application Screenshot (/usr/share/applications/screenshot-tool.desktop)`

[2018-06-08 05:33] gornostal commented on #241
In order to make indexing faster you can do the following:

1. Open `~/.cache/ulauncher_cache/last.log` and look for errors like this:
[code]
    You'll probably see lot's of them with the same directory prefix.
2. Add directory prefix with errored desktop files to Blacklisted App Dirs in Ulauncher preferences.
    You don't want to add `/usr/share/applications` to that list, but something like `/

[2018-06-08 05:59] gornostal commented on #242
I wasn't able to reproduce the issue.
I've tried with Ulauncher v4.0.8r1 and Xubuntu 16.04 running Xfce 4.12.0.

I am not saying the issue does not exist, but until we have more reliable steps to reproduce this one will be closed.

[2018-06-08 05:59] #242 closed

[2018-06-08 14:52] CottonEaster commented on #245
No; the log was from before reinstallation.

The .desktop file comprises the following.

[code]

[2018-06-09 20:31] KakolIsSomewhatGay commented on #241
@gornostal Say for example you have the (Super|Win) key set as your hotkey via Ulauncher, attempting to press the key will instantly open Ulauncher Search. Perfect!

However this has the side effect of stopping key combinations such as `[Hotkey] + D` since Ulauncher opens when they key is pressed instead of when it is released, for multi-key combos such as `Ctrl + Space` this probably wont be an i

[2018-06-11 16:52] gornostal commented on #241
Thanks for the clarifications.
Unfortunately, there is no solution to your issue with the hotkey.
And I wasn't planning to add option to trigger Ulauncher on key release.

Have you been able to resolve the issue with slow app indexing by following the steps above?

[2018-06-11 16:57] gornostal commented on #245
Hmm, the file looks good.
Sorry, I don't know what happened, but if it occurs again, please reopen this issue and we should be able to figure out the cause while it can be reproduced.

[2018-06-11 16:57] #245 closed

[2018-06-11 21:58] KakolIsSomewhatGay commented on #241
Sadly no, Ulauncher still takes a long time to index. Maybe a path whitelist could make indexing faster?

[2018-06-13 02:47] KakolIsSomewhatGay commented on #241
@gornostal
`2018-06-13 03:27:32,985 | INFO | ulauncher.search.apps.app_watcher: start() | Scanned desktop dirs in 2692.42 seconds. Indexed 187 applications`
oof

[2018-06-13 07:05] gornostal commented on #241
40 minutes is quite a long wait for apps to be indexed.
Could you attach `~/.cache/ulauncher_cache/last.log` please?

BTW, what do you think may be a reason for that? Do you have slow CPU or HDD?

[2018-06-14 12:13] KakolIsSomewhatGay commented on #241
@gornostal Not exactly, I've never had any performance issues with my machine. [last.logGist](https://gist.github.com/KakolIsSomewhatGay/bdcb645ab03672fbc46e007289fb0a2a)

[2018-06-17 03:16] rsyring opened #247 "Link to docs from main nav on website"
I think it would be helpful to have a link in the main navigation of the website that links to the docs.  I had to hit GitHub to find the link to the docs.

[2018-06-18 04:58] gornostal commented on #241
Thanks for the logs.
Strangely enough, there is nothing in the logs that would explain that long indexing time.

[2018-06-18 05:04] gornostal commented on #241
If you'd like to spend some more time debugging, here's what you can do.
This issue may be due to a large number of files in directories that Ulauncher uses for searching apps.
To verify that, you can run `python` from CLI and then enter this:

[code]

You'll get a list of directories. Then you can run this command to count files in each directory:

[code]

For the reference, I have around 94K fil

[2018-06-18 05:05] gornostal commented on #247
You mean link to docs on Ulauncher extensions?

[2018-06-18 10:57] KakolIsSomewhatGay commented on #241
For `/usr/share` I've got 112K, and 383K for `~/.local/share`. Couldn't a folder whitelist help with users that have a a lot of files?

[2018-06-18 10:59] gornostal commented on #241
It could, but it will also add either complexity to the code (which I don't want) or complexity to Ulauncher Preferences UI (which users may not want).

I'm not sure what's the best solution for this issue. Need to think about it...

[2018-06-18 11:06] KakolIsSomewhatGay commented on #241
A `Whitelisted App Dirs` list could be added with a toggle to enable it, I'd suggest it and `Blacklisted App Dirs` should be collapsible though

[2018-06-18 11:35] gornostal commented on #241
Yeah, I understand that. But that means more code to support. Instead, I want to reduce amount of code

[2018-06-18 12:17] KakolIsSomewhatGay commented on #241
Blacklist and Whitelist Filters could be moved to an extension and allow it to be added by users if they want that customisation

[2018-06-19 01:28] ibrokemypie commented on #75
In my opinion, the most useful would be to mix application and file searches, but allowing users to rank which search engine is most important, so if they search for something, application results show up on top with file results below them for example.

[2018-06-19 01:31] ibrokemypie opened #248 "Always Show Search Tasks"
In uluancher the search tasks (google, wikipedia etc) only show if no other results show, however sometimes I want to search something even if there are results that come up. Showing the search tasks below all other results at all times or having an option to do so would be incredibly useful.

[2018-06-19 01:35] ibrokemypie opened #249 "Ordering Shortcuts"
The search shortcuts do not seem to appear in order that they are defined, eg google first, which is confusing/sub optimal

[2018-06-19 04:40] gornostal commented on #249
Hmm. It works fine for me.
Could you provide steps to reproduce please?

[2018-06-19 04:49] gornostal commented on #248
The list or search results will include shortcuts too if their names match the query.

I don't want to change that behavior, so I'm going to close this ticket. Sorry

[2018-06-19 04:49] #248 closed

[2018-06-19 11:48] dannykopping commented on #157
Experiencing this issue on Ubuntu 16.04.4 running XFCE4

[2018-06-23 22:07] ArturMroz commented on #162
I wrote an extension for that, you can get it here: https://github.com/ArturMroz/switcher. It's an alpha version so feedback appreciated.

It's not optimal as I had to make it work with API limitations (objects being serializable by `pickle.dumps()`).`ExtensionResultItem` doesn't seem to accept `Pixbuf` object as `icon` argument, so as an ugly workaround I'm saving icon for each active application

[2018-06-24 11:12] gornostal commented on #157
Hi @dannykopping
Could you open a new issue please? So we don't spam people in this one?

[2018-06-24 12:18] gornostal commented on #162
Hi @ArturMroz
Great work with the extension :+1:

Regarding this
[code]
I guess I have put it without testing. Turns out it's not going to work because GdkPixbuf cannot be "pickled". This error is a proof of that.
[code]
After a bit of googling I found that there is a [workaround](https://lisas.de/~alex/?p=46) for that, but I see more issues than benefits with adding that workaround to Ulauncher.

[2018-06-26 11:05] ArturMroz commented on #162
Thanks for pointing out focus problems @gornostal

Problem was, `windows.activate()` needs to receive server timestamp as argument but I was passing a local one from `time.time()`. You would think that Wnck would expose a method to get server timestamp but it doesn't. I'm using `Gdk.CURRENT_TIME` (which is 0 and means 'now' in other gtk libraries). Wnck gives a warning: `Wnck-WARNING **: Received

[2018-06-27 09:58] retrixe opened #250 "Segmentation fault on openSUSE w/ GNOME"
**Steps to reproduce:**
1. On openSUSE Tumbleweed with GNOME and Wayland, run `ulauncher` in a terminal.
2. Prompt will tell you to run `GDK_BACKEND=x11 ulauncher` instead.
3. On running Ulauncher with GDK_BACKEND as x11, segmentation fault occurs.

**Ulauncher version**: 4.0.8.r1
**Linux distro**: openSUSE Tumbleweed 20180605
**Desktop environment**: GNOME, occurs on Wayland and X for some reason

[2018-06-29 05:38] gornostal commented on #250
Thanks for reporting the bug. I'll look into this

[2018-06-30 11:50] #231 closed

[2018-06-30 11:52] gornostal commented on #231
If anyone else is able to reproduce this, please reopen

[2018-06-30 11:54] gornostal commented on #243
If anyone can provide reliable steps to reproduce, please reopen the bug.

[2018-06-30 11:54] #243 closed

[2018-06-30 11:58] gornostal commented on #196
I think this should've been fixed in Ulauncher v4. Please reopen if not.
Thanks

[2018-06-30 11:58] #196 closed

[2018-06-30 12:02] gornostal commented on #249
Please reopen when you have reliable steps to reproduce. Thanks.

[2018-06-30 12:02] #249 closed

[2018-06-30 12:07] gornostal commented on #247
The link is included in the main menu of the extensions website (ext.ulauncher.io)
Closing the ticket.

[2018-06-30 12:07] #247 closed

[2018-06-30 12:55] gornostal commented on #229
Hmm the Ulauncher window gets stretched across the entire screen even though `resizable` property is set to False.
I don't think this can be fixed. Maybe it's better to add Ulauncher to a list of ignored windows if it's possible with that GNOME extension

[2018-06-30 12:55] #229 closed

[2018-06-30 14:49] gornostal commented on #250
I can confirm, the issue exists. I did a clean install of openSUSE Tumbleweed and I see the segfault when I run Ulauncher.

I was able to identify the line in Ulauncher code that triggers it, it's `Gtk.Builder.add_from_file(self, filename)`. However, I don't know where to go from there :slightly_frowning_face:

Weirdly enough, Ubuntu 18.04 also has GTK+ 3.22.30, but the bug cannot be reproduced th

[2018-07-01 14:40] #201 closed

[2018-07-01 16:08] #227 closed

[2018-07-01 17:03] gornostal commented on #154
Done in v4.0.9

[2018-07-01 17:03] #154 closed

[2018-07-01 17:10] gornostal commented on #219
I wasn't able to reproduce with Ulauncher 4.0.8, Atom 1.28.0 and Xubuntu 16.0.4

[2018-07-01 17:10] #219 closed

[2018-07-01 17:51] gornostal commented on #241
Hi @KakolIsSomewhatGay
I've just released Ulauncher 4.1.0 which includes app caching (list of the indexed apps will be cached after the first launch, so on the consecutive launches you'll instantly see the apps).
It's not an ideal solution to your issue, but that definitely should help.

I'm going to close this issue, because there is not much that can be done about it.

[2018-07-01 17:51] #241 closed

[2018-07-02 14:05] retrixe commented on #250
Yeah, under the GNOME on X.org session as well.

[2018-07-03 05:48] gornostal opened #252 "Uninformative error when trying to save extension settings if the extension fails to start"
**Steps to reproduce:**
1. Install this extension https://ext.ulauncher.io/-/github-robertokl-ulauncher-unit-converter
1. Open preferences and click Save

Ideally it should show error message "Unable to run extension" and the stack trace.

[2018-07-04 12:58] moocan opened #253 "Shared installation of extention with settings for all users"
I would like to know if it's possible to install extension globally and configure settings for every users ?

I tried to copy extensions from ~/.cache/ulauncher_cache/extensions/ to /usr/share/ulauncher/extensions/ but don't seems to work.

I don't know where to place preferences and I don't if it's possible.

Kind Regards

[2018-07-05 05:48] ghost opened #254 "Error when launching an Software Sources app: "Refusing to render service to dead parents". Linux Mint"
**Steps to reproduce:**
Have a system with Mint 18. Upgrade in-place to Mint 18. Try to launch Mint's 'software sources' and see that the program does not launch.

**Ulauncher version**: 4..1.0.r1
**Linux distro**: Mint 19
**Desktop environment**: Cinnamon

**Logs**:

https://gist.github.com/CottonEaster/2250882fa33d2442c14eb453b15bd580

EDITED.

[2018-07-05 05:57] gornostal commented on #253
Hi,
Currently the only way to do that is by copying `~/.config/ulauncher/extensions.json` to `/home/<username>/.config/ulauncher/` for every user.

BTW, everything in `~/.cache/ulauncher_cache` is autogenerated, so you don't have to copy that.

Hope that helps. I'm closing this issue now.

[2018-07-05 05:57] #253 closed

[2018-07-05 06:10] gornostal commented on #254
You mean "software sources' appears in Ulauncher search results but when you select it nothing happens?
If so, could you grab the log file after you do that please? That event was not captured in the logs you linked in the description.

[2018-07-05 10:40] CottonEaster commented on #254
Yes, or rather the relevant icon appears in my dock for a moment, and nothing else happens.

The log produces this when I try to launch the MintSources program: 'Refusing to render service to dead parents.'

Perhaps the following is helpful to note. The command that runs when the MintSources program is run from somewhere other than the launcher is: `pkexec mintsources`.